div[data-announcement] {
  display: none;
}

/* .loaded .announcement{} */
.announcement {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  margin: 0 0 0 auto;
  max-width: 411px;
  padding: 1.5rem 3rem 1.5rem 1.5rem;
  background-color: #fafbfc;
  color: #172b4d;
  z-index: 4000;
  border-radius: 8px;
  animation-name: announcement;
  animation-duration: 1.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes announcement {
  0% {
    opacity: 0;
    transform: translateY(110%);
  }
  50% {
    opacity: 0;
    transform: translateY(110%);
  }
  75% {
    opacity: 1;
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* fix first element margin */
.announcement > *:nth-child(1) {
  margin-top: 0;
}

.announcement__done {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  padding: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z' fill='white'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.announcement__done:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

.announcement h1,
.announcement h2,
.announcement h3,
.announcement h4,
.announcement h5,
.announcement h6 {
  font-size: 1rem;
  font-weight: 700;
}

.announcement p {
  margin-top: 0.7rem;
  font-size: 0.8rem;
}

/*====================================== 
                THEMES
 ======================================*/

.announcement.yellow {
  background: #ffab00;
  color: #172b4d;
}
.yellow .announcement__done {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z' fill='%23172B4D'/%3E%3C/svg%3E%0A");
}

.announcement.red {
  background-color: #de350b;
  color: #fff;
}

.announcement.blue {
  background: #42526e;
  color: #ffffff;
}

.announcement.green {
  background: #00875a;
  color: #fff;
}
