/* body.blog {} */

.blog__list {
	position: relative;
	margin-top: var(--rhythm);
	z-index: 1000;
}

.blog__list > .wrapper {
	margin: 0 auto;
	padding: 0 var(--gutter);
	max-width: var(--w-main);
    display: flex;
    flex-direction: column;
    gap: calc(var(--gutter)*2);
}

@media (min-width: 1024px) {
    .blog__list > .wrapper {
        gap: var(--gutter);
    }
}

.blog__pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 var(--gutter);
	max-width: var(--w-main);
	margin: 0 auto;
	margin-top: calc(var(--gutter)*2);
}
  
.blog__pagination button {
	display: block;
	width: 100%;
}
  
@media (min-width: 1024px) {
	.blog__pagination button{
		width: auto;
	}
}





/*===========================================
				    CARD 
============================================*/

.blog-card {
    padding-top: var(--gutter);
    border-top: 1px solid #f1f1f1;
    width: 100%;
}

.blog-card a {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--gutter);
}

.blog-card__media {
    position: relative;
    flex-shrink: 0;
    width: 95px;
    height: 95px;
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius: 4px;
}

@media (min-width: 1024px) {
    .blog-card__media {
        aspect-ratio: 4/3;
        width: 40%;
        height: auto;
    }
}

.blog-card__media img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.blog-card__content {
    width: auto;
    flex-grow: 1;
}

@media (min-width: 1024px) {
    .blog-card__content {
        width: 60%;
    }
}

.blog-card__content time {
    display: block;
    margin-top: -5px;
    font-size: small;
    color: grey;
}

@media (min-width: 1024px) {
    .blog-card__content time {
        font-size: medium;
    }
}

.blog-card__content h2 {
    margin: 0.5rem 0;
}

.blog-card a:hover h2 {
    text-decoration: underline;
}

.blog-card__content p {
    font-size: small;
    color: grey;
}

@media (min-width: 1024px) {
    .blog-card__content p {
        font-size: medium;
    }
}
