/*.blog{}*/

.blog__header {
	margin: 0 auto;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
	width: 100%;
	max-width: var(--width-body);
}

/*.blog__title {}*/

.blog__subheading {
	margin: 20px auto 0 auto;
	font-size: 21px;
	opacity: 0.7;
}

.blog__header:after {
	content: " ";
    display: block;
    margin-top: 40px;
    width: 100%;
    height: 1px;
    background-color: lightgrey;
}

.blog__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 var(--gutter);
    max-width: var(--width-body);
}


@media (min-width: 835px) {
    .blog__grid {
        grid-template-columns: 1fr 1fr 1fr;

    }
}

.blog-item {
	position: relative;
	text-decoration: none;
	padding-bottom: 40px;
}

.blog-item a {
	text-decoration: none;
}

.blog-item__image-container {
	position: relative;
	width: 100%;
	height: 172px;
}

.blog-item__image-container img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.blog-item__title {
	margin-top: 10px;
	font-size: 21px;
	line-height: 1.4;
}

.blog-item__subheading {
	margin-top: 10px;
  	font-size: 1rem;
  	line-height: 1.6;
  	color: grey;
}

.blog-item__author {
	font-size: 13px;
	margin-top: 10px;
}

.blog-item__date {
	font-size: 13px;
	margin-top: 5px;
	color: grey;
}