/*LINK*/

.button {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    padding: 14px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .025em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-hl);
    background-color: white;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    transition-property: transform, box-shadow;
    transition-duration: 0.2s;
    outline: none;
}

.button svg {
    padding-right: 5px;
    color: inherit;
    width: 20px;
    height: 20px;
}

.button:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.button:hover:active {
    transform: translateY(1px);
}

.button.inverted {
    color: white;
    background-color: var(--color-hl);
}














a.btn-link {
    position: relative;
    display: inline-block;
    margin: 10px 0;
    padding: 0;
    border: none;
    outline: none;
    user-select: none;
	color: var(--color-hl);
	text-decoration: none;
}

a.btn-link:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--color-hl);

    transition: height 0.2s;
}

a.btn-link:hover:after {
    animation: hoverLink 0.7s cubic-bezier(0.32, 0.94, 0.6, 1);
}

@keyframes hoverLink {
    0% {transform:scaleX(1);transform-origin:right}
    50%{transform:scaleX(0);transform-origin:right}
    51%{transform:scaleX(0);transform-origin:left}
    100%{transform-origin:left;transform:scaleX(1)}
}





/*ROUND*/

a.btn-round,
.content a.btn-round {
	user-select: none;
	display: inline-block;
	color: var(--color-hl-inverted);
	background-color: var(--color-hl);
	font-family: var(--font-alt);
	padding: 10px 25px;
    transition: all 0.2s; 
    text-decoration: none;
    border-radius: 9999px;
    text-align: center;
}

/*a.btn-round:hover {}*/

/*a.btn-round:hover:active {}*/





/*SQUARE*/

a.btn-square,
.content a.btn-square {
	user-select: none;
	display: inline-block;
	color: var(--color-hl-inverted);
	background-color: var(--color-hl);
	font-family: var(--font-alt);
	padding: 10px 25px;
    transition: all 0.2s; 
    text-decoration: none;
}

/*a.btn-square:hover {}*/

/*a.btn-square:hover:active {}*/
