.button,
a.button,
button.button {
    white-space: nowrap;
    display: inline-flex;
    height: 40px;
    padding: 14px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .025em;
    align-items: center;
    justify-content: center;
    color: var(--color-button-fg);
    background-color: var(--color-button-bg);
    box-shadow: var(--shadow-button);
    text-decoration: none;
    transition-property: transform, box-shadow;
    transition-duration: 0.2s;
    outline: none;
}

.button svg {
    padding-right: 5px;
    color: inherit;
    width: 20px;
    height: 20px;
}

.button:hover {
    transform: translateY(-1px);
    box-shadow: var(--shadow-button-hover);
}

.button:hover:active {
    transform: translateY(1px);
}

.button.inverted {
    color: var(--color-button-bg);
    background-color: var(--color-button-fg);
}
