/* #page.calendar {} */

#calendar-heading,
#event-heading {
	margin-top: var(--rhythm)
}

#calendar-heading .wrapper,
#event-heading .wrapper {
	max-width: var(--width-main);
	margin: 0 auto;
	padding: 0 var(--gutter);
}

#calendar-list {
	margin: var(--rhythm) auto 0 auto;
	max-width: var(--width-main);
	padding: 0 var(--gutter);
}

#calendar-list #load-more {
	width: 100%;
}

.calendar-card {
	border-top: var(--border-100);
}

.calendar-card a {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	padding: var(--gutter) 0;
}

.calendar-card .media {
	aspect-ratio: 4 / 3;
	width: 100px;
	border-radius: var(--radius-100);
	overflow: hidden;
	transform: translateZ(0);
	margin-left: auto;
}

.calendar-card .media img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

.calendar-card .date {
	display: flex;
	align-items: center;
}

.calendar-card .title {
	font-weight: bold;
	display: flex;
	align-items: center;
}












