/* body.collection {} */

.collection #filters {
	margin-top: var(--rhythm);
}

.collection #filters form {
	display: flex;
	gap: 10px;
	margin: 0 auto;
	width: 100%;
	max-width: var(--width-main);
	padding: 0 var(--gutter);
	flex-wrap: wrap;
	align-items: center;
}

.collection #filters label {
	color: var(--color-text-medium);
	display: flex;
	flex-direction: column;
	gap: 2px;
	font-size: x-small;
	text-transform: uppercase;
}

.collection #list {
	position: relative;
	margin-top: var(--gutter);
	z-index: 1000;
}

.collection #list .wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: calc(var(--gutter) / 2);
	margin: 0 auto;
	padding: 0 var(--gutter);
	max-width: var(--width-main);
}

@media (min-width: 1024px) {
	.collection #list .wrapper {
		grid-template-columns: repeat(3, 1fr);
	}
}

.collection #load-more {
	display: block;
	width: 100%;
	grid-column: 1 / -1;
}

.collection #no-results {
	display: block;
	width: 100%;
	grid-column: 1 / -1;
	text-align: center;
	color: var(--color-text-medium);
}
