/* body.collection {} */

.collection__list {
	position: relative;
	margin-top: calc(var(--rhythm)/2);
	z-index: 1000;
}

.collection__list > .wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--gutter) calc(var(--gutter)/2);
	margin: 0 auto;
	padding: 0 var(--gutter);
	max-width: var(--w-main);
}

@media (min-width: 1024px) {
	.collection__list > .wrapper {
		grid-template-columns:repeat(3, 1fr);
	}
}

.collection__pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 var(--gutter);
	max-width: var(--w-main);
	margin: 0 auto;
	margin-top: calc(var(--gutter)*2);
}
  
.collection__pagination button {
	display: block;
	width: 100%;
}
  
@media (min-width: 835px) {
	.collection__pagination button{
		width: auto;
	}
}
  
  