/* body.collection {} */

/*.collection__grid {}*/

.collection__grid .wrapper {
  padding: 0 var(--gutter);
  max-width: var(--w-main);
  margin: 0 auto;
}

.collection__grid .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
  max-width: var(--w-body);
  margin: 0 auto;
}

@media (min-width: 835px) {
  .collection__grid .grid {
    grid-template-columns:repeat(3, 1fr);
    grid-gap: var(--gutter);
  }
}
