/*body.default {}*/

.default__header {
    margin-left: auto;
    margin-right: auto;
    padding: 0 var(--gutter);
    max-width: var(--w-text);
    text-align: center;
}

.default__header .breadcrumbs {
    display: block;
    margin-bottom: var(--gutter);
    color: var(--c-fg);
}

.default__header .breadcrumbs a {
    color: var(--c-fg);
    text-decoration: none;
}

.default__header time {
    display: block;
    margin-top: var(--gutter);
    color: var(--c-hl);
}





/*CARD*/
.default__card {
    position: relative;
    height: auto;
    font-size: large;
    font-weight: 700;
    line-height: 1.4;
    background-color: var(--c-hl);
    color: white;
    transition-duration: 0.2s;
    transition-property: transform;
}

@media (min-width: 835px) {
    .default__card {
        font-size: x-large;
        line-height: 1.4;
    }
}

.default__card>a>.wrapper {
    position: relative;
    padding-top: 133%;
}

.default__card>a>.wrapper>.fill {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: var(--gutter);
}