/*body.default {}*/





/*===========================================
				HEADING 
============================================*/

.default-heading {
    position: relative;
    margin-top: var(--rhythm);
    text-align: center;
    z-index: 1000;
}

.default-heading .wrapper {
    padding: 0 var(--gutter);
    margin: 0 auto;
    max-width: var(--w-main);
    width: 100%;
}

.default-heading .breadcrumbs {
    margin-bottom: var(--gutter);
    opacity: 0.5;
}

/* .default-heading__title {} */

.default-heading__intro {
    margin: 1rem auto 0 auto;
    padding: 0 var(--gutter);
    text-align: center;
    max-width: var(--w-tight);
    color: grey;
}





/*===========================================
				    CARD 
============================================*/

/* .default-card {} */

.default-card a {
    display: block;
    border-radius: 8px;
}

.default-card__media {
    position: relative;
    padding-top: 133%;
    background-color: var(--c-bg-alt);
    border-radius: 8px;
    overflow: hidden;
}

.default-card__media img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.default-card__content {
    margin-top: 0.5rem;
}

.default-card h3 {
    font-size: medium;
}

.default-card a:hover h3 {
    text-decoration: underline;
}

.default-card__content p {
    font-size: small;
}





/*===========================================
			    MODULE OVERRIDE 
============================================*/

body.default .module.mediatext:first-child  {
    margin-top: var(--gutter);
    border-bottom: 1px solid var(--c-bg-alt);
    padding-bottom: var(--rhythm);
}

@media (min-width: 1024px) {
    body.default .module.mediatext:first-child .content  {
        text-align: left;
    }
}
