/*body.default {}*/





/*===========================================
				HEADING 
============================================*/

/* .default__heading {} */

.default__heading .wrapper {
    padding: 0 var(--gutter);
    margin: 0 auto;
    max-width: var(--w-tight);
    width: 100%;
    text-align: center;
}

.default__heading .breadcrumbs {
    margin-bottom: var(--gutter);
    opacity: 0.5;
}

/* .default__heading .title {} */





/*===========================================
				    CARD 
============================================*/

/* .default__card {} */

.default__card a {
    display: block;
    text-decoration: none;
    border-radius: 8px;
}

.default__card__media {
    position: relative;
    padding-top: 100%;
    background-color: var(--c-material);
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.default__card__media img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.default__card__content {
    padding: 1rem;
    background-color: var(--c-material);
    min-height: 150px;
    border-radius: 0 0 8px 8px;
}