.dialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 6000;

	opacity: 0;
    visibility: hidden;
	backdrop-filter: blur(10px);
}

.dialog.dialog--active {
    opacity: 1;
    visibility: visible;
	transition-property: opacity, visibility;
    transition-duration: 0.2s;
}

.dialog__veil {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgb(31 31 31 / 50%);
}

.dialog__box {
	position: absolute;
	bottom: var(--gutter);
	left: var(--gutter);
	right: var(--gutter);
	max-width: 500px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 20vh; 
	padding: 20px var(--gutter);
	background-color: var(--color-bg);
	border-radius: 20px;
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	opacity: 1;
	transform: translateY(0%);
}

.dialog:not(.dialog--active) .dialog__box {
	opacity: 0.5;
	transform: translateY(100%);
}

.dialog__close {
	position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}

.dialog__close svg {
	width: 100%;
	height: 100%;
}

.dialog__content {
	text-align: center;
}
