/*body.event {}*/


/*===========================================
				HEADING 
============================================*/

.event__heading {
    position: relative;
    margin-top: var(--rhythm);
    z-index: 1000;
}

.event__heading .wrapper {
    padding: 0 var(--gutter);
    margin: 0 auto;
    max-width: var(--w-main);
    width: 100%;
    text-align: center;
}

.event__heading .breadcrumbs {
    margin-bottom: var(--gutter);
    color: var(--c-fg-alt);
    text-decoration: underline;
}

/* .event__heading .title {} */

.event__heading .cartel {
    margin-top: var(--gutter);
    color: var(--c-fg-alt); 
    font-family: 'Courier New', Courier, monospace;
}

/* .event__heading time {} */
