#footer {
  position: relative;
  margin: var(--rhythm) 0 0 0;
  background-color: #f1f1f1;
  color: var(--c-fg);
  font-size: small;
  z-index: 1000;
}

#footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--w-body);
  margin: 0 auto;
  padding: var(--rhythm) var(--gutter) var(--gutter) var(--gutter);
}

/*#footer .copyright {}*/

/*#footer .credit {}*/

#footer .credit svg {
  width: 49px;
  height: auto;
}
