/* body.form {} */

body.form,
body.login,
body.forgot,
body.register,
body.profile {
	--c0lor-bg: #1f1f1f;
	--color-fg: white;
    --color-buttonface: white;
	--color-buttontext: #1f1f1f;
}

body.form #footer,
body.login #footer,
body.forgot #footer,
body.register #footer,
body.profile #footer {
    border-top: 1px solid #383838;
}

/* GRAV LOGIN FORM */
#grav-login h1,
#grav-login p {
	display: none;
}

#grav-login h4 {
	color: var(--color-fg);
}

body.form,
body.login .form-actions,
body.forgot .form-actions,
body.register .form-actions,
body.profile .buttons {
	margin-top: 20px;
}

body.profile #user-profile img {
	display: block;
    width: 100px;
    height: auto;
    margin: 20px auto 20px auto;
}
