/*.fx {}*/

.fx--fadein {
	opacity: 0;
	transform: translateY(15px);
	transition-duration: 0.5s;
	transition-property: opacity, transform;
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.fx--fadein[data-scroll="in"] {
	opacity: 1;
	transform: translateY(0px);
}
