.gridtext__ctn {
	width: 100%;
	max-width: var(--width-site);
	margin: 0 auto;
	padding: 0 var(--gutter);
}

.gridtext__caption {
	margin-top: 2rem;
	letter-spacing: 5px;
    color: var(--color-hl);
}
@media (min-width: 835px) {
	.gridtext__caption {
		margin-top: 0;
	}
}

h2.gridtext__title {
	margin-top: 2rem;
	font-weight: 700;
}


.gridtext__grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}