#header {
	position: relative;
	height: var(--header-heigth);
	color: var(--color-fg);
	z-index: 5000;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 0 var(--gutter);
	width: 100%;
	height: 100%;
	max-width: var(--width-body);
}

.header__logo {
	width: 70px;
}

.header__logo svg {
	width: 100%;
}

.header__toggle-panel-on {
	margin-left: 10px;
}

/*.header__toggle-cart {}*/





/*PANEL*/
.nav-panel {
	visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--color-fg);
	color: var(--color-bg);
}

.nav-panel__container {
	margin: 0 auto;
	padding: var(--gutter);
	width: 100%;
	max-width: var(--width-body);
}

.nav-panel__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-panel__logo {
	width: 70px;
}

.nav-panel__logo svg {
	width: 100%;
}

.nav-panel__link {
	display: block;
	font-size: xxx-large;
	font-weight: 700;
	margin-top: 25px;
}

.nav-panel__toggle-panel-off {
	margin-left: 10px;
}


/*PANEL ON*/
.header--on .nav-panel {
	visibility: visible;
}
