#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--header-heigth);
	color: white;
	background-color: #313131;
	z-index: 5000;
}

.header__shim {
	position: relative;
	height: var(--header-heigth);
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 0 var(--gutter);
	width: 100%;
	height: 100%;
	max-width: var(--width-site);
}