#header {
	position: relative;
	height: var(--header-heigth);
	color: var(--color-fg);
	z-index: 5000;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 0 var(--gutter);
	width: 100%;
	height: 100%;
	max-width: var(--width-body);
}

.header__logo {
	width: 70px;
}

.header__on {

}





/*PANEL*/
.panel {
	visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--color-fg);
	color: var(--color-bg);
}

.panel__container {
	margin: 0 auto;
	padding: var(--gutter);
	width: 100%;
	max-width: var(--width-body);
}

.panel__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.panel__logo {
	width: 70px;
}

.panel__link {
	display: block;
	font-size: xxx-large;
	font-weight: 700;
	margin-top: 25px;

	transition-property: opacity, transform;
	transition-duration: 0.2s;
	opacity: 0;
	transform: translateY(10px);
}





/*PANEL ON*/
.header--on .panel {
	visibility: visible;
}

.header--on .panel__link {
	opacity: 1;
	transform: translateY(0px);
}

.header--on li:nth-child(1) > .panel__link {transition-delay: 0.15s;}
.header--on li:nth-child(2) > .panel__link {transition-delay: 0.20s;}
.header--on li:nth-child(3) > .panel__link {transition-delay: 0.25s;}
.header--on li:nth-child(4) > .panel__link {transition-delay: 0.30s;}
.header--on li:nth-child(5) > .panel__link {transition-delay: 0.35s;}
.header--on li:nth-child(6) > .panel__link {transition-delay: 0.40s;}
.header--on li:nth-child(7) > .panel__link {transition-delay: 0.45s;}
.header--on li:nth-child(8) > .panel__link {transition-delay: 0.50s;}