img[loading="lazy"],
img[loading="lazy"][data-state="0"] {
    opacity: 0;
}

img[loading="lazy"][data-state="1"] {
    animation-name: appImg;
    animation-duration: 200ms; 
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes appImg {
    to {opacity: 1;}
}