#indicator {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: var(--color-bg);
    z-index: 4999;

    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity;
    transition-duration: 100ms;
}

.htmx-request #indicator,
.htmx-added #indicator,
.htmx-settling #indicator,
.htmx-swapping #indicator {
    visibility: visible;
    opacity: 1;
}
