/* body.landing {} */







/*===========================================
         		OVERRIDES 
============================================*/
body.landing #header {
	--c-bg: #1f1f1f;
	--c-fg: white;
    --c-btn-bg: white;
	--c-btn-fg: #1f1f1f;
}

body.landing #header .shim {
    height: 0;
}





/*===========================================
         		HEADING 
============================================*/

.landing__heading {
	--c-bg: #1f1f1f;
	--c-fg: white;
    --c-btn-bg: white;
	--c-btn-fg: #1f1f1f;
    position: relative;
    height: 100vh;
    min-height: 667px;
    max-width: var(--w-full);
    background-color: var(--c-bg);
    color: var(--c-fg);
    overflow: hidden;
}

.landing__heading .wrapper {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    padding: var(--gutter);
}

.landing__heading .media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.landing__heading .media img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.landing__heading .media video {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.landing__heading .veil {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1f1f1f;
    opacity: 0.4;
    z-index: 1;
}

.landing__heading .content {
    padding-bottom: var(--header);
    max-width: var(--w-tight);
    z-index: 2;
}





/*===========================================
                    FX 
============================================*/

@media (prefers-reduced-motion: no-preference) {

    .landing__heading .media img {
        transition: transform 8s cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: scale(1.1);
    }

    .landing__heading[data-scroll="in"] .media img {
        transform: scale(1);
    }
}
