/* body {
	overflow: hidden;
}

body.loaded {
	overflow: auto;
}

#loading {
	align-items: center;
	background-color: var(--color-bg);
	bottom: 0;
	color: var(--color-fg);
	display: flex;
	font-family: "Courier New", Courier, monospace;
	font-size: small;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition-duration: 100ms;
	transition-property: visibility, opacity;
	z-index: 9999;
}

body.loaded #loading {
	opacity: 0;
	visibility: hidden;
} */
