/*Use transitions for the loader and animations for whatever moving things you put in it to prevent bubbling*/
[data-loading]{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	animation-name: loadingfallback;
	animation-duration: 0.2s;
	animation-delay: 6s;
	animation-fill-mode: forwards;
}
@keyframes loadingfallback {
    from {opacity: 1; visibility: visible;}
    to { opacity:0; visibility: hidden;}
}






/*TRANSITION*/
[data-loading].transition {
	background-color: var(--color-bg);
	z-index: 4000;	
}

.loaded [data-loading].transition {
	opacity: 0;
	visibility: hidden;
	transition-property: opacity visibility; 
	transition-duration: 0.2s;
}





/*INTRO*/
[data-loading].intro {
	background-color: var(--color-bg);
	color: var(--color-fg);
	z-index: 9999;	
	display: flex;
	justify-content: center;
	align-items: center;
	transition-property: transform visibility;
	transition-duration: 0.3s; 
	transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
}

[data-loading].intro svg {
	width: 100px;
	animation-name: intrologo;
	animation-duration: 0.5s; 
}
@keyframes intrologo {
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0px);}
}

.loaded [data-loading].intro {
	transform: translateY(-100%);
	visibility: hidden;
}





/*UNLOAD*/
/*.navigating.unloading #content {
  animation-name: unloading;
  animation-duration: 100ms; 
  animation-fill-mode: forwards;
}
@keyframes unloading {
    from {opacity: 1;}
    to {opacity: 0; transform: translateY(-50px);}
}*/
