body.login,
body.forgot {
    background-color: whitesmoke;
}

body.login #header,
body.forgot #header {
	--c-bg: #1f1f1f;
	--c-fg: white;
    --c-btn-bg: white;
	--c-btn-fg: #1f1f1f;
}

body.login #footer,
body.forgot #footer {
    display: none;
}

body.login main,
body.forgot main {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: var(--gutter);

    background-image: url(../images/login-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.login #grav-login, 
body.forgot #grav-login {
    font-size: 16px;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    border: 1px solid whitesmoke;
    background-color: white;
    border-radius: 8px;
    box-shadow: var(--bs-medium);
}

body.login #grav-login h1,
body.forgot #grav-login h1 {
    font-size: large;
    margin-bottom: 1.5rem;
}

body.login #grav-login button,
body.forgot #grav-login button {
    width: 100%;
    background-color: #0d59f2;
}

body.login #grav-login a.button,
body.forgot #grav-login a.button  {
    width: 100%;
    background-color: whitesmoke;
    color: var(--c-fg);
}

body.login #grav-login input:focus,
body.forgot #grav-login input:focus {
    transition: box-shadow 200ms;
    outline: none;
    box-shadow: 0 0 0 3px rgb(147, 181, 255);
}

body.login #grav-login hr,
body.forgot #grav-login hr {
    border: none;
    border-bottom: 1px solid whitesmoke;
}

body.login #grav-login a.button.logout,
body.forgot #grav-login a.button.logout {
    background-color: #e85a4a;
    color: white;
}