.module {
    position: relative;
    margin-top: var(--rhythm);
    background-color: var(--color-bg);
    color: var(--color-fg);
    z-index: 1000;
}





/*========================================
                OPTIONALS
==========================================*/

.module.padded {
      padding: var(--rhythm) 0 var(--rhythm) 0;
}

.module.padded + .module.padded {
  margin-top: 0;
  padding-top: 0;
}

.module.no_margin {
    margin-top: 0;
}

.module.double_margin {
    margin-top: calc(var(--rhythm)*2);
    margin-bottom: calc(var(--rhythm)*2);
}
