.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--gutter);
  max-width: var(--width-body);
  margin: 0 auto;
  margin-top: var(--gutter);
}

.pagination .button {
  display: block;
  width: 100%;
}

@media (min-width: 835px) {
  .pagination .button{
    width: auto;
  }
}

