.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--gutter);
    padding: 0 var(--gutter);
}

button.pagination__load-more {
    display: block;
    width: 100%;
}

@media (min-width: 835px) {
    button.pagination__load-more {
        width: auto;
    }
}