/*body.post {}*/


/*===========================================
				HEADING 
============================================*/

.post-heading {
    position: relative;
    margin-top: var(--rhythm);
    z-index: 1000;
}

.post-heading .wrapper {
    padding: 0 var(--gutter);
    margin: 0 auto;
    max-width: var(--w-main);
    width: 100%;
    text-align: center;
}

.post-heading .breadcrumbs {
    margin-bottom: var(--gutter);
    color: var(--c-fg-alt);
    text-decoration: underline;
}

/* .post-heading__title {} */

.post-heading__cartel {
    margin-top: var(--gutter);
    color: var(--c-fg-alt); 
    font-family: 'Courier New', Courier, monospace;
}

/* .post-heading time {} */

/* .post-heading .author {} */
