/*body.product{}*/

.module.product__showcase {
    margin-top: var(--gutter);
}

.product__showcase .wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: var(--w-main);
    margin: 0 auto;
    padding: 0 var(--gutter);
}

.product__showcase .media-ctn {
    width: 100%;
    overflow: hidden;
}

@media (min-width: 735px) {
    .product__showcase .media-ctn {
        width: 50%;
    }
}

.product__showcase .media-ctn img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product__showcase .scroller__slide,
.product__showcase .single-image {
    position: relative;
    flex-shrink: 0;
    scroll-margin-left: 0;
    padding-top: 133%;
    width: 100%;
    overflow: hidden;
}

.product__showcase .scroller__slide .fill,
.product__showcase .single-image .fill {
    background-color: var(--c-material);
}

.product__showcase .scroller__slide img,
.product__showcase .single-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 735px) {
    .product__showcase .sticky-ctn {
        position: sticky;
        top: calc(var(--header) + var(--gutter));
    }
}

.product__showcase .content {
    width: 100%;
}

@media (min-width: 735px) {
    .product__showcase .content {
        width: 50%;
        padding-right: 0;
        padding-left: 5%;
    }
}

.product__showcase h1.name {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.product__showcase .description {
    margin-top: 1rem;
}

.product__showcase .description ul,
.product__showcase .description li {
    list-style: disc;
}

.product__showcase .variant {
    margin-top: 1rem;
}

.product__showcase .variant+.variant {
    margin-top: 0.5rem;
}

.product__showcase .variant label {
    font-size: small;
}


.product__showcase .variant select {
    width: 100%;
    border-radius: 4px;
    padding: 10px 5px;
    border-color: var(--c-guide);
    background-color: var(--c-bg);
    color: var(--c-fg);
}

.product__showcase .price {
    display: block;
    margin-top: 1rem;
    font-size: var(--fs-xlarge);
    font-weight: var(--fw-bold);
}

.product__showcase .button {
    width: 100%;
    margin-top: 1rem;
}

.product__showcase .instruction {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    max-width: 90%;
    text-align: center;
}

.product__divider {
    width: 100%;
    max-width: var(--w-body);
    margin: 0 auto;
    margin-top: var(--rhythm);
}

.product__divider > hr {
    border: 0;
    border-top: 1px solid var(--c-guide);
    margin: 0 var(--gutter);
}






/*===========================================
				    CARD 
============================================*/

/* .product__card {} */

.product__card a {
    display: block;
    text-decoration: none;
}

.product__card__media {
    position: relative;
    padding-top: 133%;
    background-color: var(--c-material);
    overflow: hidden;
}

.product__card__media img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product__card__content {
    margin-top: 0.5rem;
}

.product__card__content p {
    margin-top: 5px;
}