/*UNREVEALED ELEMENTS*/
.reveal--hidden {
  opacity: 0;
  transform: translateY(50px);
}

/*DEFAULT*/
.reveal--default {
  animation-name: revealdefault;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes revealdefault {
  from {
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
