.rvl {
	transition-property: opacity, transform;
	transition-delay: 0s;
	transition-duration: 0.5s;
	opacity: 1;
	transform: translateY(30px);
}

.rvl--visible {
	opacity: 1;
	transform: translateY(0px);
}

.rvl--visited {
	opacity: 0.5;
	transform: translateY(0px);
}