[data-section-state] {
	transition-property: opacity, transform;
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	opacity: 0;
	transform: translateY(20px);
}

[data-section-state="visible"] {
	transition-duration: 0.5s;
	opacity: 1;
	transform: translateY(0px);
}

[data-section-state="visited"] {
	transition-duration: 0.2s;
	opacity: 0.2;
	transform: translateY(0px);
}