.sntnl {
  transition-delay: 0s;
  transition-duration: 1s;
  transition-property: opacity;
  opacity: 0;
}

.sntnl--in {
  opacity: 1;
}

.sntnl--out {}

/*.sntnl--out-top {}*/

/*.sntnl--out-bottom {}*/