.snipcart,
.snipcart__font--secondary,
.snipcart button,
.snipcart form legend,
.snipcart__font--subtitle,
.snipcart__actions--link {
  font-family: var(--font-base);
}

.snipcart-modal__container {
  z-index: 6000!important;
}

.snipcart-cart-button--highlight {
  background: none;
  background-color: var(--color-hl);
  color: white;
}

.snipcart__box--badge-highlight {
  background: none;
  background-color: var(--color-hl);
  color: white;
}

.snipcart__actions--link {
  color: var(--color-hl);
}

.snipcart-modal__close-icon path {
  fill: var(--color-hl);
}

.snipcart__icon--blue-dark path {
  fill: var(--color-hl);
}

.snipcart-signin__register-link {
  color: var(--color-hl);
}

.snipcart-signin__forgot-password {
  color: var(--color-hl);
}

.snipcart-form__select:focus {
  border: 1px solid var(--color-hl);
}

.snipcart-form-radio:checked + label:before {
  background: none;
  background-color: var(--color-hl);
}
