
.snipcart {
	font-family: var(--font-base);
}

.snipcart-modal__container {
    z-index: 6000;
}

.snipcart-cart-header__option {
	display: none;
}

.snipcart-cart-button--highlight {
	background: none;
	background-color: var(--color-btn-bg);
	color: var(--color-btn-fg);
}
