/* body.splash {} */







/*===========================================
         		OVERRIDES 
============================================*/
body.splash #header {
	--c-bg: #1f1f1f;
	--c-fg: white;
    --c-btn-bg: white;
	--c-btn-fg: #1f1f1f;
}

body.splash #header .shim {
    height: 0;
}





/*===========================================
         		HEADING 
============================================*/

.splash__heading {
	--c-bg: #1f1f1f;
	--c-fg: white;
    --c-btn-bg: white;
	--c-btn-fg: #1f1f1f;
    position: relative;
    margin: 0 auto;
    height: 100vh;
    min-height: 667px;
    width: 100%;
    background-color: var(--c-bg);
    color: var(--c-fg);
    overflow: hidden;
}

.splash__heading .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    max-width: var(--w-main);
    padding: var(--gutter);
}

.splash__heading .media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.splash__heading .media img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.splash__heading .media video {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.splash__heading .veil {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1f1f1f;
    opacity: 0.4;
    z-index: 1;
}

.splash__heading .content {
    max-width: var(--w-tight);
    padding-bottom: var(--header);
    text-align: center;
    z-index: 2;
}





/*===========================================
                    FX 
============================================*/

@media (prefers-reduced-motion: no-preference) {

    .splash__heading .media img {
        transition: transform 8s cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: scale(1.1);
    }

    .splash__heading[data-scroll="in"] .media img {
        transform: scale(1);
    }
}
