/*REGULAR*/

.text, 
.text p {
    font-size: 1rem;
    line-height: 1.9rem;
    color: inherit;
}

.text h3, 
.text .h3,
.h3,
.text h4,
.text .h4,
.h4,
.text h5,
.text .h5,
.h5,
.text h6,
.text .h6,
.h6 {
    font-size: large;
    line-height: 2rem;
    color: inherit;
}

.text h2, 
.text .h2,
.h2 {
    font-size: x-large;
    line-height: 2.1rem;
    font-weight: var(--fw-bold);
    color: inherit;
}

.text h1, 
.text .h1,
.h1 {
    font-size: xx-large;
    line-height: 2.5rem;
    font-weight: var(--fw-bold);
    color: inherit;
}

.prose p {margin-top: 1rem;}
.prose h6, .prose .h6 {margin-top: 1rem;}
.prose h5, .prose .h5 {margin-top: 1rem;}
.prose h4, .prose .h4 {margin-top: 1rem;}
.prose h3, .prose .h3 {margin-top: 1rem;}
.prose h2, .prose .h2 {margin-top: 2rem;}
.prose h1, .prose .h1 {margin-top: 2rem;}
.prose>:first-child {margin-top: 0;}
.prose>:last-child {margin-bottom: 0;}





/*SMALL*/

.text.small,
.text.small p {
    font-size: small;
    line-height: 1.2rem;
}

.text.small h3, 
.text.h3.small {
    font-size: medium;
    line-height: 1.5rem;
    font-weight: var(--fw-bold);
}

.text h2 .small, 
.text .h2,
.h2 .small {
    font-size: large;
    line-height: 1.5rem;
    font-weight: var(--fw-bold);
}





/*MISC*/

.text p:empty {
    display: none;
}

.text strong {
    font-size: inherit;
    font-weight: var(--fw-bold);
}

.text em {
    font-size: inherit;
    font-style: italic;
}

.text sup {
    font-size: x-small;
}

.text blockquote,
.text blockquote p {
    color: inherit;
    font-size: 1rem;
    line-height: 1.9rem;
}

.text ul {
    margin-top: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    line-height: inherit;
    list-style-position: outside;
    list-style-type: disc;
}

.text ol {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: inherit;
    list-style-position: inside;
    list-style-type: decimal;
}

.text li {
    font-size: inherit;
    line-height: inherit;

}


.text li > p {
    display: inline;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
}

.text a {
    color: inherit;
    text-decoration: underline;
}

.text code {
    background-color: #f1f1f1;
    padding: 0px 5px 2px 5px;
    border: 1px solid #dedede;
    border-radius: 4px;
}
