/*REGULAR*/

.text, 
.text p {
    font-size: 1rem;
    line-height: 1.9rem;
    color: var(--c-fg);
}
.text.prose p {
    margin-top: 1rem;
}

.text h6,
.text .h6,
.h6 {
    font-size: large;
    line-height: 2rem;
    font-weight: var(--fw-bold);
    color: var(--c-fg);
}
.text.prose h6,
.text.prose .h6,
.h6.prose {
    margin-top: 1rem;
}

.text h5,
.text .h5,
.h5 {
    font-size: large;
    line-height: 2rem;
    font-weight: var(--fw-bold);
    color: var(--c-fg);
}
.text.prose h5,
.text.prose .h5,
.h5.prose {
    margin-top: 1rem;
}

.text h4,
.text .h4,
.h4 {
    font-size: large;
    line-height: 2rem;
    font-weight: var(--fw-bold);
    color: var(--c-fg);
}
.text.prose h4,
.text.prose .h4,
.h4.prose {
    margin-top: 1rem;
}

.text h3,
.text .h3,
.h3 {
    font-size: large;
    line-height: 2rem;
    font-weight: var(--fw-bold);
    color: var(--c-fg);
}
.text.prose h3,
.text.prose .h3,
.h3.prose {
    margin-top: 1rem;
}

.text h2, 
.text .h2,
.h2 {
    font-size: x-large;
    line-height: 2.1rem;
    font-weight: var(--fw-bold);
    color: var(--c-fg);
}
.text.prose h2, 
.text.prose .h2,
.h2.prose {
    margin-top: 2rem;
}

.text h1, 
.text .h1,
.h1 {
    font-size: xx-large;
    line-height: 2.5rem;
    font-weight: var(--fw-bold);
    color: var(--c-fg);
}
.text.prose h1, 
.text.prose .h1,
.h1.prose {
    margin-top: 2rem;
}

.prose>:first-child {margin-top: 0;}
.prose>:last-child {margin-bottom: 0;}





/*SMALL*/

.text.small,
.text.small p {
    font-size: small;
    line-height: 1.2rem;
}
.text .small.prose,
.text.small.prose p {
    margin-top: 0.5rem;
}

.text.small h3, 
.text.small .h3 {
    font-size: medium;
    line-height: 1.5rem;
    font-weight: var(--fw-bold);
}
.text.small.prose h3, 
.text.small.prose .h3 {
    margin-top: 1rem;
}


.text.small h2, 
.text.small .h2,
.h2 .small {
    font-size: large;
    line-height: 1.5rem;
    font-weight: var(--fw-bold);
}
.text.small.prose h2, 
.text.small.prose .h2 {
    margin-top: 1rem;
}




/*MISC*/

.text p:empty {
    display: none;
}

.text strong {
    font-size: inherit;
    font-weight: var(--fw-bold);
}

.text em {
    font-size: inherit;
    font-style: italic;
}

.text sup {
    font-size: x-small;
}

.text blockquote,
.text blockquote p {
    color: var(--c-fg);
    font-size: 1rem;
    line-height: 1.9rem;
}

.text ul {
    margin-top: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    line-height: inherit;
    list-style-position: outside;
    list-style-type: disc;
}

.text ol {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: inherit;
    list-style-position: inside;
    list-style-type: decimal;
}

.text li,
.text ul {
    margin-left: 0px;
    list-style: disc;
    font-size: inherit;
    line-height: inherit;
}


.text li > p {
    display: inline;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
}

.text a {
    color: var(--c-fg);
    text-decoration: underline;
}

.text code {
    background-color: #f1f1f1;
    padding: 0px 5px 2px 5px;
    border: 1px solid #dedede;
    border-radius: 4px;
}
