/*===========================================
					VARS 
============================================*/

html {
	--color-bg: #f6f9fc;
	--color-fg: #32325d;
	--color-hl: #6772e5;
	--color-btn-bg: #6772e5;
	--color-btn-fg: white;
	--color-material-bg: white;
	--color-material-fg: #32325d;
	--color-material-hl: #6772e5;
	--color-footer-bg: black;
	--color-footer-fg: white;

	--shadow-button: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	--shadow-button-hover: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
	--shadow-material: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
	--shadow-material-hover: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);

	--width-text: 735px;
	--width-body: 1200px;
	--width-site: 1600px;
	--width-full: 1920px;

	--gutter: 20px;
	--rhythm: 125px;
	--header-heigth: 80px;

}





/*===========================================
				  MISC 
============================================*/

body {
  color: var(--color-fg);
  background-color: var(--color-bg);
}

::selection {
  background-color: #ffeb3b; 
}

#content {
  position: relative;
}





/*===========================================
					 UTILS 
=========================================*/

.landscape{display: block;}
@media (max-width: 835px) {.landscape {display: none;}}
.portrait {display: block;}
@media (min-width: 835px) {.portrait {display: none;}}

.fill {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.width-text {
	width: 100%;
	max-width: var(--width-text);
	margin: 0 auto;
}

.width-body {
	width: 100%;
	max-width: var(--width-body);
	padding: 0 var(--gutter);
	margin: 0 auto;
}

.width-site {
	width: 100%;
	max-width: var(--width-site);
	margin: 0 auto;
}

.width-full {
	width: 100%;
	max-width: var(--width-full);
	margin: 0 auto;
}