/*===========================================
					FONTS 
============================================*/

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/inter-v1-latin-regular.woff2") format("woff2"),
    url("../fonts/inter-v1-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local(""), 
    url("../fonts/inter-v2-latin-700.woff2") format("woff2"),
    url("../fonts/inter-v2-latin-700.woff") format("woff");
}

:root {
  --ff-base: 'Inter', sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  font-size: 16px;
  font-family: var(--ff-base);
}





/*===========================================
					COLORS 
============================================*/

:root, .light {
  --c-bg: white;
  --c-fg: #242424;
  --c-hl: #625df5;
  --c-btn-bg: rgb(36 36 36 / 20%);
  --c-btn-fg: #242424;
  --c-material: #EAEAEB;
  --c-guide: rgb(36 36 36 / 20%);
  --c-header-bg: rgb(253 254 254 / 90%);
  --c-header-fg: #242424;
}

.dark {
  --c-bg: #121212;
  --c-fg: #FFFFFF;
  --c-hl: #625df5;
  --c-btn-bg: rgb(255 255 255 / 15%);
  --c-btn-fg: #FFFFFF;
  --c-material: #242424;
  --c-guide: rgb(255 255 255 / 15%);
  --c-header-bg: rgb(0 0 0 / 80%);
  --c-header-fg: #FFFFFF;
}




/*===========================================
          DIMENSIONS 
============================================*/
:root {
  --w-text: 735px;
  --w-body: 1200px;
  --w-full: 1920px;
  --gutter: 20px;
  --rhythm: 80px;
  --header-heigth: 48px;
}

@media (max-width: 400px) {
  :root{
    --gutter: 10px;
  }
}

@media (min-width: 835px) {
  :root {
    --rhythm: 160px;
  }
}





/*===========================================
					MISC 
============================================*/

body {
  color: var(--c-fg);
  background-color: var(--c-bg);
}

::selection {
  background-color: #ffeb3b;
}
