#transition {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: var(--color-bg);
    z-index: 4999;
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity;
    transition-duration: 100ms;
}

.htmx-request #transition,
.htmx-added #transition,
.htmx-settling #transition,
.htmx-swapping #transition {
    visibility: visible;
    opacity: 1;
}

/* #main {
    animation-name: main-in;
    animation-duration: 200ms; 
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
} */

/* .htmx-request #main,
.htmx-added #main,
.htmx-settling #main,
.htmx-swapping #main {
    animation-name: main-out;
    animation-duration: 200ms; 
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
} */

/* @keyframes main-out {
    from {transform: translateY(0px)}
    to {transform: translateY(20px)}
} */

/* @keyframes main-in {
    from {transform: translateY(20px)}
    to {transform: translateY(0px)}
} */