#transition {
	background-color: var(--color-bg);
	bottom: 0;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition-duration: 100ms;
	transition-property: visibility, opacity;
	visibility: hidden;
	z-index: 4999;
}

#transition.htmx-request,
#transition.htmx-added,
#transition.htmx-settling,
#transition.htmx-swapping {
	visibility: visible;
	opacity: 1;
}

#transition.htmx-request::before {
	animation-delay: 1s;
	animation-duration: 1.1s;
	animation-iteration-count: infinite;
	animation-name: transition_spinner;
	animation-timing-function: linear;
	border-bottom: 4px solid rgba(0, 0, 0, 0.2);
	border-left: 4px solid #313131;
	border-radius: 100%;
	border-right: 4px solid rgba(0, 0, 0, 0.2);
	border-top: 4px solid rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	color: var(--button-fg);
	content: "";
	height: 20px;
	left: calc(50% - 10px);
	opacity: 0;
	position: absolute;
	top: calc(50% - 10px);
	transform: translateZ(0);
	visibility: hidden;
	width: 20px;
}

[data-theme="dark"] #transition.htmx-request::before {
	border-bottom: 4px solid rgba(255, 255, 255, 0.2);
	border-left: 4px solid #f1f1f1;
	border-right: 4px solid rgba(255, 255, 255, 0.2);
	border-top: 4px solid rgba(255, 255, 255, 0.2);
}

@keyframes transition_spinner {
	0% {
		opacity: 1;
		transform: rotate(0deg);
		visibility: visible;
	}
	100% {
		opacity: 1;
		transform: rotate(360deg);
		visibility: visible;
	}
}
