/*===========================================
					        FONTS 
============================================*/

/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/Inter/inter-v1-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Inter/inter-v1-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/Inter/inter-v2-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Inter/inter-v2-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-900 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/Inter/inter-v1-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/Inter/inter-v1-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}





/*===========================================
					     BASIC RULES 
============================================*/
html {
  --font-base: 'Inter', sans-serif;
  font-size: 16px;
  font-family: var(--font-base);
  text-rendering: optimizeLegibility;
}

.text h2, .text h1 {
  margin-top: 4rem;
  font-size: xx-large;
  line-height: 1.1;
}
@media (min-width: 735px) {
  .text h2, .text h1 {
    font-size: xxx-large;
  }
}

.text h3 {
  margin-top: 2rem;
  font-size: x-large;
  line-height: 1.4;
}
@media (min-width: 735px) {
  .text h3 {
    font-size: xx-large;
  }
}

.text h4, .text h5, .text h6 {
  font-size: larger;
  margin-top: 2rem;
  font-weight: 700;
}

.text p {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.6;
}

.text p:empty{
  display: none;
}

.text strong, 
.text p strong {
  font-weight: 700;
}

.text em, 
.text p em {
  font-style: italic;
}

.text sup {
  font-size: 10px;
}

.text blockquote {
  margin-top: 0;
  font-size: xx-large;
  line-height: 1.1;
  font-weight: 700;
}

@media (min-width: 735px) {
  .text blockquote {
    font-size: xxx-large;
  }
}

.text blockquote>p {
  font-size: inherit;
  line-height: inherit;
  margin: 0 auto;
  padding: 0;
}

.text pre {
  margin-top: 1rem;
  padding: 0 var(--gutter) 0 var(--gutter);
  font-family: monospace;
}

.text pre code {
  display: block;
  padding: 1rem;
  border-radius: 4px;
  color: #f1f1f1;
  background-color: #1a2429;

  overflow-x: auto;
}

.text ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
  list-style-position: inside;
  list-style-type: disc;
}

.text ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
  list-style-position: inside;
  list-style-type: decimal;
}

.text li > p {
  display: inline;
  padding: 0;
}

.text a {
  color: inherit;
  text-decoration: underline;
}
