.fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.rhythm-half {
  margin-top: calc(var(--rhythm)/2);
}

#skipto {
  background-color: yellow;
  color: black;
  padding: 8px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  z-index: 9999;
}

#skipto:focus-visible {
  transition: transform 0.2s;
  transform: translateY(0%);
}

a:not(.button):focus-visible,
summary:focus-visible,
select:focus-visible {
  outline-width: 1px;
  outline-offset: 1px;
  outline-color: inherit;
  outline-style: dashed;
  color: var(--color-fg);
}
