{% extends 'modular/module.html.twig' %}
{% set el = 'wht-banner' %}

{% set banner_title = page.header.banner_title ?? null %}
{% set banner_text = page.header.banner_text ?? null %}
{% set banner_label = page.header.banner_label ?? null %}
{% set banner_url = page.header.banner_url ?? null %}

{% block content %}
<banner-wrapper>

    <banner-layout>
        <banner-content class="text prose">
            {% if banner_title %}<h3>{{ banner_title }}</h3>{% endif %}
            {% if banner_text %}<p>{{ banner_text }}</p>{% endif %}
        </banner-content>
        <banner-action>
            <a href="{{ banner_url }}" class="button">{{ banner_label }}</a>
        </banner-action>
    </banner-layout>

</banner-wrapper>
{% endblock %}
