{% extends 'modular/module.html.twig' %}
{% set name = 'cards' %}

{% set display_title = display_title ?? page.header.display_title ?? null %}
{% set items = items ?? page.header.items  %}

{% block content %}
<cards-wrapper>

	{% if display_title %}
	<div class="module__title text">
		<h2>{{ display_title|raw }}</h2>
	</div>
	{% endif %}

	<cards-layout>
    {% for item in items %}
        {% set image = item.image ? page.media[item.image] %}
        {% set image_alt = item.image_alt %}
        {% set title = item.title %}
        {% set text = item.text %}
        {% set url = item.url %}
        {% include "partials/default-card.html.twig" with {
            image: image,
            image_alt: image_alt,
            title: title,
            text: text,
            url: url
        }%}
    {% endfor %}
	</cards-layout>

</cards-wrapper>
{% endblock %}
