{% extends 'modular/module.html.twig' %}
{% set name = 'carousel' %}

{% set items = items|default(page.header.items) %}

{% block content %}
<div class="wrapper" data-reveal="">
	{% if page.header.display_title %}
	<h2 class="module-title">{{ page.header.display_title }}</h2>
	{% endif %}
	<div class="swiper-container">
		<div class="swiper-wrapper">
			{% for item in items %}
			{% set item = page.find(item.page) %}	
			<div class="swiper-slide">
				 {% include ['partials/' ~ item.template ~ '-card.html.twig', 'partials/default-card.html.twig' ] with {'item': item} %}
			</div>
			{% endfor %}
		</div>
	</div>	
</div>
{% endblock %}
