{% import "partials/svg.html.twig" as svg %}
{% extends 'modular/module.html.twig' %}
{% set el = 'wht-carousel' %}

{% set display_title = display_title ?? page.header.display_title ?? null %}
{% set items = items ?? page.header.items  %}

{% block content %}
<carousel-wrapper>

	{% if display_title %}
	<div class="module__title text">
		<h2>{{ display_title|raw }}</h2>
	</div>
	{% endif %}
	
	<div class="scroller">
		<div class="scroller__scrollctn">
			{% for item in items %}
				{% set image = item.image ? page.media[item.image] %}
				{% set image_alt = item.image_alt %}
				{% set title = item.title %}
				{% set text = item.text %}
				<div class="scroller__slide">
					
					{% set image = item.image ? page.media[item.image] %}
					{% set image_alt = item.image_alt %}
					{% set title = item.title %}
					{% set text = item.text %}
					{% set url = item.url %}
					{% include "partials/card.html.twig" with {
						image: image,
						image_alt: image_alt,
						title: title,
						text: text,
						url: url
					}%}
				</div>
			{% endfor %}
		</div>
		<button class="scroller__prev"></button>
		<button class="scroller__next"></button>
	</div>
</carousel-wrapper>
{% endblock %}
