{% extends 'modular/module.html.twig' %}
{% set name = 'carousel' %}

{% set title = title|default(page.header.display_title) %}
{% set collection = collection|default() %}
{% set list = list|default(page.header.items) %}

{% block content %}

<div class="wrapper">
	
	{% if title %}
	<div class="title text"><h2>{{ title }}</h2></div>
	{% endif %}
	
	<div class="swiper-container">
		<div class="swiper-wrapper">

			{# COLLECTION #}
			{% for item in collection %}
			<div class="swiper-slide">
				 {% include ['partials/' ~ item.template ~ '-card.html.twig', 'partials/default-card.html.twig' ] with {'item': item} %}
			</div>
			{% endfor %}

			{# PAGES #}
			{% for item in list %}
			{% set item = page.find(item.page) %}	
			<div class="swiper-slide">
				 {% include ['partials/' ~ item.template ~ '-card.html.twig', 'partials/default-card.html.twig' ] with {'item': item} %}
			</div>
			{% endfor %}

		</div>
	</div>	
</div>
{% endblock %}
