{% import "partials/svg.html.twig" as svg %}
{% extends 'modular/module.html.twig' %}
{% set name = 'carousel' %}
{% set display_title = display_title ?? page.header.display_title ?? null %}
{% set items = items ?? page.header.items  %}

{% block content %}
<div class="wrapper text">

	{% if display_title %}
	<div class="module__title">
		<h2>{{ display_title|raw }}</h2>
	</div>
	{% endif %}
	
	<div class="scroller">
		<div class="scroller__scrollctn">
			{% for item in items %}
				{% set image = item.image ? page.media[item.image] %}
				{% set image_alt = item.image_alt %}
				{% set title = item.title %}
				{% set text = item.text %}
				<div class="scroller__slide">
					
					<article>
						<div class="media">
							{% include "partials/img.html.twig" with {image: image, image_alt: image_alt} %}
						</div>
						<div class="content text">
							<h3>{{ title }}</h3>
							<p>{{ text }}</p>
						</div>
					</article>

				</div>
			{% endfor %}
		</div>
		<span class="scroller__prev"></span>
		<span class="scroller__next"></span>
	</div>
</div>
{% endblock %}
