{% extends 'modular/module.html.twig' %}
{% set name = 'collection' %}
{% set classes = classes|default() %}

{% set title = title|default(page.header.display_title) %}
{% set items = items|default(page.header.items) %}
{% set collection = collection|default(page.collection()) %}

{% set count = count|default(items|length + collection|length) %}
{% set grid_modifier %}
{%- if count == 2 %}collection__grid--2
{%- elseif count == 3 %}collection__grid--3
{%- elseif count == 4 %}collection__grid--4
{%- elseif count is divisible by(2) %}collection__grid--even
{%- else %}collection__grid--odd
{% endif %}
{% endset %}

{% block content %}
<div class="collection__ctn" data-reveal>

	<div class="collection__grid {{ grid_modifier }}" data-pagination-ctn>

        {% for item in items %}
        {% set item = page.find(item.page) %}
        {% include 'partials/' ~ item.template ~ '-card.html.twig' with {'item': item} %}
        {% endfor %}

        {% for item in collection %}
        {% include 'partials/' ~ item.template ~ '-card.html.twig' with {'item': item} %}
        {% endfor %}

    </div>

    {% if config.plugins.pagination.enabled and collection.params.pagination %}
    {% include 'partials/pagination.html.twig' %}
    {% endif %}

</div>
{% endblock %}
