{% extends 'modular/module.html.twig' %}
{% set class = 'collection' %}

{% set count = page.header.items|length %}

{% set grid_modifier %}
{% switch count %}
{% case 2 %} collection__grid--2
{% default %}
{% endswitch %}
{% endset %}

{% block content %}
<div class="material-cards__ctn" data-reveal>

	{% if page.header.display_title %}
	<h2 class="module__title">{{ page.header.display_title }}</h2>
	{% endif %}

	<div class="collection__grid {{ grid_modifier }}">

        {% for item in page.header.items %}
        {% set item = page.find(item.page) %}
        {% include 'partials/' ~ item.template ~ '-card.html.twig' with {'item': item} only %}
        {% endfor %}

        {% for item in page.collection() %}
        {% include 'partials/' ~ item.template ~ '-card.html.twig' with {'item': item} only %}
        {% endfor %}
        
    </div>
	
</div>

{% endblock %}

