{% set optional_classes = page.header.optional_classes %}
{% set content = page.content %}

<section class="module content text {{ optional_classes }}" data-auto-reveal>
	{{ content|raw }}
</section>
