{% extends 'modular/module.html.twig' %}
{% set name = 'cta' %}

{% set display_title  = page.header.display_title %}
{% set button_label  = page.header.button_label %}
{% set button_url  = page.header.button_url %}
{% set color  = page.header.color %}

{% block content %}
<div class="wrapper text prose">

</div>
{% endblock %}
