{% extends 'modular/module.html.twig' %}
{% set name = 'details' %}
{% set display_title = display_title ?? page.header.display_title ?? null %}
{% set items = items ?? page.header.items ?? null %}

{% block content %}
<div class="wrapper text">

	{% if display_title %}
	<div class="module__title">
		<h2>{{ display_title|raw }}</h2>
	</div>
	{% endif %}
    
    <div class="layout">
        {% for item in items %}
            {% set title = item.title %}
            {% set content = item.content %}
            <details>
                <summary><h3>{{ title }}</h3></summary>
                <div class="content text prose">{{ content|markdown }}</div>
            </details>
        {% endfor %}        
    </div>
</div>
{% endblock %}
