{% extends 'modular/module.html.twig' %}
{% set name = 'emphasis' %}
{% set page_content = page_content ?? page.content ?? null %}

{% block content %}
<div class="wrapper text prose">
	{{ content|raw }}
</div>
{% endblock %}
