{% extends 'modular/module.html.twig' %}
{% set name = 'emphasis' %}

{% set content = page.header.content ?? null %}

{% block content %}
<div class="wrapper text large prose">
	<p>{{ content|raw }}</p>
</div>
{% endblock %}
