{% extends 'modular/module.html.twig' %}
{% set name = 'features' %}
{% set title = page.header.display_title %}
{% set items = items|default(page.header.items) %}

{% block content %}
<div class="wrapper text">

    {% if title %}
	<h2>{{ title }}</h2>
	{% endif %}

    <div class="layout">
        {% for item in items %}
        {% set image = item.image ? page.media[item.image] %}
        <div class="item text">
            {% include "partials/img.html.twig" with {image: image} only %}
            <h3>{{ item.title }}</h3>
            <p>{{ item.text }}</p>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
