{% extends 'modular/module.html.twig' %}
{% set name = 'features' %}
{% set display_title = display_title ?? page.header.display_title ?? null %}
{% set items = items ?? page.header.items ?? null %}

{% block content %}
<div class="wrapper text">

	{% if display_title %}
	<div class="module__title">
		<h2>{{ display_title|raw }}</h2>
	</div>
	{% endif %}

    <div class="layout">
        {% for item in items %}
        {% set image = item.image ? page.media[item.image] %}
        <div class="item text">
            {% include "partials/img.html.twig" with {image: image} only %}
            <h3>{{ item.title }}</h3>
            <p>{{ item.text }}</p>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
