{% extends 'modular/module.html.twig' %}
{% set name = 'grid' %}
{% set display_title = page.header.display_title %}
{% set items = items|default(page.header.items) %}

{% block content %}
<div class="wrapper text">

    {% if display_title %}
	<h2>{{ display_title }}</h2>
	{% endif %}

    <div class="layout">
        {% for item in items %}
        <div class="item text small prose">
            {% set title = item.title %}
            {% set image = item.image ? page.media[item.image] %}
            {% set image_alt = item.image_alt %}
            {% set text = item.text %}
            {% include "partials/img.html.twig" with {image: image, alt: image_alt} only %}
            {% if title %}
            <h3>{{ title }}</h3>
            <p>{{ text }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
