{% extends 'modular/module.html.twig' %}
{% set el = 'wht-grid-text' %}

{% set display_title = display_title ?? page.header.display_title ?? null %}
{% set items = items ?? page.header.items ?? null %}

{% block content %}
<grid-text-wrapper>

	{% if display_title %}
	<div class="module__title text">
		<h2>{{ display_title|raw }}</h2>
	</div>
	{% endif %}

    <grid-text-layout>
        {% for item in items %}
        <article class="text">
            <h3>{{ item.title }}</h3>
            <p>{{ item.text }}</p>
        </article>
        {% endfor %}
    </grid-text-layout>

</grid-text-wrapper>
{% endblock %}
