{% extends 'modular/module.html.twig' %}
{% set name = 'logos' %}
{% set classes = classes|default() %}

{% block content %}
<div class="wrapper" data-reveal>

	{% if page.header.display_title %}
	<h2 class="module_title">{{ page.header.display_title }}</h2>
	{% endif %}

	<div class="grid">
		{% for item in page.header.items %}
		{% set logo = item.logo ? page.media[item.logo] %}
		<div class="logo" data-reveal="reveal--cascade">
			{{ logo.html('', item.alt) }}
		</div>
		{% endfor %}
	</div>	

</div>
{% endblock %}


