{% set optional_classes = page.header.optional_classes %}
{% set display_title = page.header.display_title ?? 'true' %}

<section class="module logos {{ optional_classes }}">
	<div class="logos__ctn text" data-reveal>

		{% if display_title %}
		<h2 class="logos__title">{{ page.title }}</h2>
		{% endif %}

		<div class="logos__grid">
			{% for item in page.header.items %}

			{% set logo = item.logo ? page.media[item.logo] %}
			<div class="logos__item" data-reveal="reveal--grid-item">
				{{ logo.html('', item.alt) }}
			</div>

			{% endfor %}
		</div>	

	</div>
</section>
