{% extends 'modular/module.html.twig' %}
{% set class = 'logos' %}

{% block content %}
<div class="logos__ctn" data-reveal>

	{% if page.header.display_title %}
	<h2 class="module__title">{{ page.header.display_title }}</h2>
	{% endif %}

	<div class="logos__grid">
		{% for item in page.header.items %}
		{% set logo = item.logo ? page.media[item.logo] %}
		<div class="logos__item" data-reveal="reveal--cascade">
			{{ logo.html('', item.alt) }}
		</div>
		{% endfor %}
	</div>	

</div>
{% endblock %}


