{% extends 'modular/module.html.twig' %}
{% set name = 'material_quotes' %}

{% block content %}
<div class="wrapper" data-reveal>

	{% if page.header.display_title %}
	<h2 class="module_title">{{ page.header.display_title }}</h2>
	{% endif %}
	
	<div class="carousel swiper-container">
		<div class="swiper-wrapper">

			{% for item in page.header.items %}
			{% set portrait = item.portrait ? page.media[item.portrait] %}

			<div class="item text swiper-slide">
				<blockquote>{{ item.quote }}</blockquote>
				{% if portrait %}
				<div class="portrait">{{ portrait.cropZoom(200, 200).quality(config.system.images.default_image_quality).html('', item.alt) }}</div>
				{% endif %}
				<div class="source">{{ item.source }}</div>
			</div>

			{% endfor %}

		</div>
		{% if page.header.items|length > 1 %}
		<div class="pagination swiper-pagination"></div>
		{% endif %}
	</div>	
</div>
{% endblock %}