{% extends 'modular/module.html.twig' %}
{% set name = 'mediatext' %}

{% set mp4 = page.header.mp4 ? page.media[page.header.mp4] %}
{% set image = page.header.image ? page.media[page.header.image] %}
{% set image_alt = page.header.image_alt ?? '' %}
{% set media_position = page.header.media_position ?? 'left' %}
{% set content = page.content|raw %}

{% block content %}
<div class="wrapper {{ media_position }}">
	<div class="media">
		{% if mp4 %}
		<video autoplay loop muted playsinline disablepictureinpicture disableremoteplayback poster="{{ image.url }}">
			{% if mp4 %}<source type="video/mp4" src="{{ mp4.url }}">{% endif %}
		</video>
		{% elseif image %}
		{% include "partials/img.html.twig" with {image: image, image_alt: image_alt} %}
		{% endif %}
	</div>
	<div class="content text prose">
		{% if content %}{{ content|raw }}{% endif %}
	</div>
</div>
{% endblock %}
