{% set name = name|default() %}
{% set id = id ?? page.header.id ?? null %}
{% set classes = classes ?? page.header.body_classes ?? null %}

{% set computed_classes %}
{{ name }}
{%- if classes %} {{ classes }}{% endif %}
{% endset -%}

<section{% if id %} id="{{ id|url_encode|lower }}"{% endif %} class="module {{ computed_classes }}">
{% include "partials/edit.html.twig" %}
{% block content %}{% endblock %}
</section>
