{% set name = name|default() %}
{% set body_classes = page.header.body_classes %}
{% set extra_classes = extra_classes|default() %}

{% set computed_classes = name ~ body_classes ~ extra_classes %}
<section 
class="module {{ computed_classes }}" 
{% if module_theme %}style="{{ module_theme }}"{% endif %}>
{% block content %}{% endblock %}
</section>
