{% set name = name|default() %}
{% set id = id ?? page.header.id ?? null %}
{% set class = class ?? page.header.class ?? null %}

{% set computed_classes %}
{{ name }}
{%- if class %} {{ class }}{% endif %}
{% endset -%}

<section{% if id %} id="{{ id|url_encode|lower }}"{% endif %} class="module {{ computed_classes }}">
{% block content %}{% endblock %}
</section>
