{% set name = name|default() %}
{% set classes = classes|default() %}

{% set computed_classes = name ~ classes %}
<section 
class="module {{ computed_classes }}" 
{% if module_theme %}style="{{ module_theme }}"{% endif %}>
{% block content %}{% endblock %}
</section>
