{% set name = name|default() %}
{% set body_classes = page.header.body_classes %}
{% set extra_classes = extra_classes|default() %}
{% set track_section_state = track_section_state|default(true) %}

{% set computed_classes %}
{{ name }}
{%- if body_classes %} {{ body_classes }}{% endif %}
{%- if extra_classes %} {{ extra_classes }}{% endif %}
{% endset -%}

<section 
class="module {{ computed_classes }}"
{% if track_section_state %} data-track-section-state {% endif %}>
{% block content %}{% endblock %}
</section>
