{% extends 'modular/module.html.twig' %}
{% set name = 'numbers' %}
{% set display_title = display_title ?? page.header.display_title ?? null %}
{% set items = items ?? page.header.items ?? null  %}

{% block content %}
<div class="wrapper text">
	{% if display_title %}
	<div class="module__title">
		<h2>{{ display_title|raw }}</h2>
	</div>
	{% endif %}

    <div class="layout">
        {% for item in items %}
		{% set n = item.number %}
		{% set t = item.text %}
		<div class="item">
			<h3>{{ n }}</h3>
			<p>{{ t|raw }}</p>
		</div>
		{% endfor %}
    </div>

</div>
{% endblock %}
