{% extends 'modular/module.html.twig' %}
{% set name = 'quotes' %}

{% block content %}
<div class="wrapper">
	<div class="scroller">
		<div class="scroller__scrollctn">
			{% for item in page.header.items %}
			{% set portrait = item.portrait ? page.media[item.portrait] %}
			<div class="scroller__slide text">
				<blockquote class="h3">{{ item.quote }}</blockquote>
				{% if portrait %}
				<div class="portrait">{{ portrait.cropResize(150).loading.attribute('width', portrait.width).attribute('height', portrait.height).html('', item.alt)|raw }}</div>
				{% endif %}
				<div class="source small">{{ item.source }}</div>
			</div>
			{% endfor %}
		</div>
		{% if page.header.items|length > 1 %}
		<span class="scroller__prev"></span>
		<span class="scroller__next"></span>
		{% endif %}
	</div>	
</div>
{% endblock %}