{% extends 'modular/module.html.twig' %}
{% set name = 'scroller' %}
{% set title = title|default(page.header.display_title) %}
{% set collection = collection|default(null) %}
{% set items = items ?? page.header.items ?? collection  %}
{% block content %}

<div class="wrapper text">

	{% if title %}
	<h2>{{ title }}</h2>
	{% endif %}
	
	<div class="container">
		{% for item in items %}
		{% if not collection %}
		{% set item = page.find(item.page) %}
		{% endif %}	
		<div class="slide">
			{% include ['partials/' ~ item.template ~ '-card.html.twig', 'partials/default-card.html.twig' ] with {'item': item, 'loop': loop} only %}
		</div>
		{% endfor %}
	</div>
	<span class="prev"></span>
	<span class="next"></span>

</div>

{% endblock %}
