{% set optional_classes = classes|default(page.header.optional_classes) %}
{% set selected_media = selected_media|default(page.header.selected_media ? page.media[page.header.selected_media]) %}
{% set selected_media_alt = selected_media_alt|default(page.header.selected_media_alt ?? '') %}
{% set content = content|default(page.content) %}

<section class="module splash {{ optional_classes }}">
	<div class="splash__ctn">
		<div class="splash__media" data-reveal="reveal--scalein">
		{% if selected_media.type == 'video' %}
			{{ selected_media.controls(0).autoplay(1).muted(1).loop(1).html('', selected_media_alt) }}
		{% else %}
			{{ selected_media.html('', selected_media_alt) }}
		{% endif %}
		</div>
		<div class="splash__veil"></div>
		<div class="splash__content-ctn" data-reveal>
			<div class="content">{{ content }}</div>
		</div>
	</div>
</section>