{% set item = item|default(item) %}
{% set title = title|default(item.title) %}
{% set image = image|default(item.header.image ? item.media[item.header.image] : item.media.images|first) %}
{% set image_alt = image_alt|default(item.header.image_alt ?? '') %}
{% set date = date ?? item.header.date ?? null %}
{% set summary = summary ?? item.summary ?? null %}

<article class="blog__card">
	<a href="{{ item.url }}">

		<div class="layout">

			<div class="content text small">
				<h3>{{ title }}</h3>

				{% if summary %}
				<p>{{ summary|striptags }}</p>
				{% endif %}

				{% if date %}
				<time>{{ date|date('Y/m/d') }}</time>
				{% endif %}

			</div>
			
			<div class="media">
				{% include "partials/img.html.twig" with {image: image} only %}
			</div>				

		</div>

	</a>
</article>
