{% set item = item|default(item) %}

{% set image = item.header.image ? item.media[item.header.image] %}
{% set image_alt = item.header.image_alt ?? '' %}

<article class="product-card">
	<a href="{{ item.url }}">
		<div class="product-card__media">
			<div class="fill">{{ image.html('', image_alt) }}</div>
		</div>

		<div class="product-card__info">
			<div class="product-card__title">{{ item.title }}</div>
			<div class="product-card__price">{{ item.header.price }}</div>
		</div>
	</a>
</article>
