{% set title = title|default(page.header.display_title) %}

{% if title %}
<section class="module default__heading">
	<div class="wrapper text">
		<h1>{{ title|raw }}</h1>
	</div>
</section>
{% endif %}
