{% import "partials/breadcrumbs.html.twig" as breadcrumbs %}

{% set title = title ?? page.header.display_title %}

{% if title %}
<section class="default-heading">
	<div class="wrapper">
		{{ breadcrumbs.html(page, pages, page.collection({items: {'@self.page': ''}})) }}
		<div class="title text">
			<h1>{{ title|raw }}</h1>
		</div>
	</div>	
</section>
{% endif %}
