{% set item = item|default(item) %}
{% set title = title|default(item.title) %}
{% set image = image|default(item.header.image ? item.media[item.header.image] : item.media.images|first) %}
{% set image_alt = image_alt|default(item.header.image_alt ?? '') %}
{% set title = title|default(item.header.title) %}

<article class="default__card dark">
	<a href="{{ item.url }}">
		<div class="default__card__media">
			{% include "partials/img.html.twig" with {image: image} only %}
		</div>
		<div class="default__card__content text small">
			<h3>{{ title }}</h3>
		</div>
	</a>
</article>
