
<article class="default-card">
	<a href="{{ url }}">
		<div class="default-card__media">
			{% include "partials/img.html.twig" with {image: image, image_alt: image_alt} %}
		</div>
		<div class="default-card__content text small">
			{% if title %}<h3>{{ title }}</h3>{% endif %}
			{% if text %}<p>{{ text }}</p>{% endif %}
		</div>
	</a>
</article>
