{% import "partials/svg.html.twig" as svg %}
{% set id = id|default('dialog') %}
{% set content = content|default('<strong>This is a dialog!</strong><br>You can add content using the <code>content</code> variable.') %}

<div class="dialog" id="{{ id }}">
	<div class="dialog__veil"></div>
	<div class="dialog__box">
		<button class="dialog__close">{{ svg.close() }}</button>
		<div class="dialog__content text">
			{{ content|markdown|raw }}
		</div>
	</div>
</div>
