<details class="drawer" data-reveal>
	<summary class="noselect drawer__summary">
		<h{{ level }} class="drawer__title">{{ title }}</h{{ level }}>
		<div class="material-icons drawer__icon">keyboard_arrow_down</div>
	</summary>
	<div class="drawer__content fadeinfromtop">{{ content|markdown }}</div>
</details>
