{% import "partials/svg.html.twig" as svg %}

{#
TODO
configurable admin path
modular page support
#}

{% if grav.user.access.admin.login and theme.admin_edit_button %}
    {% set adminPath = base_url ~ config.get('plugins.admin.route') ~ '/pages' %}
    {% set pagePath -%}
        {%- if page.url == home_url %}
            {{- '/' ~ page.slug -}}
        {% else %}
            {{- page.url -}}
        {% endif -%}
    {% endset %}
    {% set url = adminPath ~ pagePath %}
    <a id="edit" href="{{ url }}" target="_blank" rel="nofollow">{{ svg.edit() }}</a>
{% endif %}
