<section class="event-info">
    <div class="wrapper">
        <div class="layout">

            <div class="event-info__date">
                <h2>{{ 'THEME.EVENT.DATE'|t }}</h2>
            </div>
            <div class="event-info__location">
                <h2>{{ 'THEME.EVENT.LOCATION'|t }}</h2>
            </div>
            <div class="event-info__details">
                <h2>{{ 'THEME.EVENT.DETAILS'|t }}</h2>
            </div>
            <div class="event-info__registration">
                <h2>{{ 'THEME.EVENT.REGISTRATION'|t }}</h2>
            </div>

        </div>  
    </div>
</section>