<footer>
	<div class="footer__ctn">
		<div class="footer__copyright">© {{ site.title }} {{ "now"|date("Y") }}</div>
		<a class="footer__credit" href="https://calotte.ca">{% include 'partials/calotte.html.twig' %}</a>
	</div>
</footer>
