{% import "partials/svg.html.twig" as svg %}
<footer id="footer">
	<div class="wrapper">
		<div class="copyright">© {{ site.title }} {{ "now"|date("Y") }}</div>
		<a class="credit" href="https://calotte.ca">{{ svg.calotte() }}</a>
	</div>
</footer>
