<footer id="footer">
	<div class="wrapper">
		<div class="copyright">© {{ site.title }} {{ "now"|date("Y") }}</div>
		<a class="credit" href="https://calotte.ca">{% include 'partials/calotte.html.twig' %}</a>
	</div>
</footer>
