{% import "partials/svg.html.twig" as svg %}
{% set nav = root_params.header.footer_links %}
{% set footnotes = root_params.header.footnotes %}

<footer id="footer">
	<div class="wrapper">
		<div class="links text">
			<nav>
				{% for group in nav %}
				<ul>
					<li>{{ group.label }}</li>
					{% for link in group.links %}
					<li><a href="{{ link.url }}"}>{{ link.label }}</a></li>
					{% endfor %}
				</ul>
				{% endfor %}
			</nav>			
		</div>
		<div class="footnote">
			<p>
				{{ footnotes|raw }}
			</p>
		</div>		
	</div>
</footer>
