{% import "partials/svg.html.twig" as svg %}

<footer id="footer" class="dark">
	<div class="wrapper">

		<div class="links text">
			<nav>
				{% for group in root_params.header.footer_links %}
				<ul>
					<li>{{ group.label }}</li>
					{% for link in group.links %}
					<li><a href="{{ link.url }}"}>{{ link.label }}</a></li>
					{% endfor %}
				</ul>
				{% endfor %}
			</nav>			
		</div>

		<div class="legal">
			<p>
				Responsibly made by <a href="https://calotte.ca">Calotte</a> with the financial help of <a href="https://snipcart.com">Snipcart</a>. This page became interactive in <span class="app-tti">X.XXs</span> and finished loading in <span class="app-ttc">X.XXs</span>.
			</p>		
		</div>

	</div>
</footer>
