{% import "partials/svg.html.twig" as svg %}

<footer id="footer">
	<div class="wrapper">

		<div class="links">
			<nav>
				{% for group in root_params.header.footer_links %}
				<ul>
					<li>{{ group.label }}</li>
					{% for link in group.links %}
					<li><a href="{{ link.url }}"}>{{ link.label }}</a></li>
					{% endfor %}
				</ul>
				{% endfor %}
			</nav>			
		</div>

		<div class="legal text small">
			<p>
				Responsably made by <a href="https://calotte.ca">Calotte</a> with the financial help of <a href="https://snipcart.com">Snipcart</a>.
				<div id="carbonbadge">[calculating energy usage]</div>	
			</p>		
		</div>

	</div>
</footer>
