{% import "partials/svg.html.twig" as svg %}

<footer id="footer">
	<div class="wrapper">

		<div class="links text">
			<nav>
				{% for group in root_params.header.footer_links %}
				<ul>
					<li>{{ group.label }}</li>
					{% for link in group.links %}
					<li><a href="{{ link.url }}"}>{{ link.label }}</a></li>
					{% endfor %}
				</ul>
				{% endfor %}
			</nav>			
		</div>

		<div class="footnote">
			<p>
				This page became interactive in <span class="app-tti">X.XXs</span> and complete in <span class="app-ttc">X.XXs</span>.
				Wheat is maintained by <a href="https://calotte.ca">Calotte</a> with some financial support from <a href="https://snipcart.com">Snipcart</a>.
				Hosting is provided by <a href="https://www.digitalocean.com/">DigitalOcean</a>, managed with <a href="https://cpanel.net/">cPanel</a> and delivered by <a href="https://cloudflare.com/">Cloudflare</a>
				while analytics is done trough <a href="https://panelbear.com/">Panelbear</a>'s privacy-oriented monitoring.
			</p>
		</div>
	</div>
</footer>
