{# {% import "partials/svg.html.twig" as svg %}

{% if root_params.header.gdpr_banner %}
    <div id="gdpr">
        <div class="gdpr__content text">
            {{ root_params.header.gdpr_banner|raw }}
        </div>
        <button class="gdpr__action button">Cool!</button>
    </div>
{% endif %}  #}
