{# LANDSCAPE #}
<section id="header">
    <div class="header__wrapper">
        
        {# LOGO #}
        <a class="header__logo" href="{{ home_url }}" aria-label="Logo">{% include 'partials/logo.html.twig' %}</a>

        {# NAV #}
        <nav class="header__nav">
            <ul>
                {% for p in pages.children.visible if p.url != home_url  %}
                <li><a class="{{ (p.active or p.activeChild) ? 'active' : '' }}" href="{{ p.url }}">{{ p.menu }}</a></li>
                {% endfor %}
            </ul>
        </nav>

    </div>
</section>
