{% set content = content ?? page.content ?? null %}
{% set image = page.header.image ? page.media[page.header.image] %}
{% set image_alt = page.header.image_alt ?? '' %}

<section class="landing__heading">
    <div class="wrapper">
        <div class="media">
            {% if mp4 %}
            <video autoplay loop muted poster="{{ image.url }}">
                {% if mp4 %} <source type="video/mp4" src="{{ mp4.url }}">{% endif %}
            </video>
            {% elseif image %}
            {% include "partials/img.html.twig" with {image: image, alt: image_alt, loading: 'eager'} %}
            {% endif %}
        </div>
        <div class="content text">
            {{ content|raw }}
        </div>
    </div>
</section>
