{# https://github.com/getgrav/grav-plugin-pagination #}
{% set pagination = pagination|default(page.collection.params.pagination) %}
{% set base_url = base_url|default(page.url) %}
{% if pagination|length > 1 %}
{% if pagination.hasNext %}
    {% set query = uri.query() ? '?' ~ uri.query() : '' %}
    {% set url = (base_url ~ pagination.params ~ pagination.nextUrl ~ query  )|replace({'//':'/'}) %}
    <a id="load-more" class="button" href="{{ url }}"
    hx-get="{{ url }}"
    hx-swap="outerHTML" 
    hx-select="#list article, #load-more, #no-result"
    hx-indicator="#load-more">{{ 'THEME.PAGINATION.LOAD_MORE'|t }}
    </a>
{% endif %}
{% endif %}
