{% set collection = page.collection %}
{% set pagination = pagination|default(collection.params.pagination) %}
{% set base_url = page.url %}

{% if pagination|length > 1 and pagination.hasNext %}
<div class="pagination">
    {% set url = (base_url ~ pagination.params ~ pagination.nextUrl)|replace({'//':'/'}) %}
    <button class="pagination__load-more button" href="{{ url }}" data-pagination-btn>Load More </button>
</div>
{% endif %}

