{% extends 'modular/module.html.twig' %}
{% set name = 'product__carousel' %}
{% set title = title ?? null %}
{% set collection = collection ?? null %}
{% set items = items ?? page.header.items ?? collection  %}
{% block content %}

<div class="wrapper text">

	{% if title %}
	<h2>{{ title }}</h2>
	{% endif %}
	
	<div class="scroller">
		<div class="scroller__scrollctn">
			{% for item in items %}
            {% if not collection %}
			{% set item = page.find(item.page) %}
			{% endif %}	
			<div class="scroller__slide">
				{% include 'partials/product-card.html.twig' with {'item': item, 'loop': loop} only %}
			</div>
			{% endfor %}
		</div>
		<span class="scroller__prev"></span>
		<span class="scroller__next"></span>
	</div>

</div>

{% endblock %}
