{% set item = item|default(item) %}
{% set image = image|default(item.header.image ? item.media[item.header.image]) %}
{% set image_alt = image_alt|default(item.header.image_alt ?? '') %}
{% set title = title|default(item.title) %}
{% set price = price|default(item.header.price) %}

<article class="product__card">
	<a href="{{ item.url }}">
		<div class="media-ctn">
			{% include "partials/img.html.twig" with {image: image, alt: image_alt} only %}
		</div>
		<div class="text small">
			<h3>{{ title }}</h3>
			<p>{{ price|number_format(2, ',', ' ') }} $</p>
		</div>
	</a>
</article>
