<div id="share__dialog">
    <div class="share__dialog__container">

        <div class="share__dialog__header">{{ "THEME.SHARE.LABEL"|t }}</div>
        <div class="share__dialog__close">x</div>

        <div class="share__target-container">
            <button class="share__target share__target--facebook">Facebook</button>
            <button class="share__target share__target--twitter">Twitter</button>
            <button class="share__target share__target--linkedin">LinkedIn</button>
            <button class="share__target share__target--email">Email</button>
        </div>

    </div>
</div>