{% if theme.snipcart_enabled %}
<div 
id="snipcart" 
data-api-key="{{ theme.snipcart_public_key }}" 
{% if not theme.snipcart_product_behavior %}
data-config-add-product-behavior="none"
{% endif %}
data-config-modal-style="side"
hidden>
</div>
{% endif %}

