{% extends "modular/module.html.twig" %}
{% set name = 'social' %}

{% block content %}
<div class="wrapper">
	<div class="panel dark">
        <div class="layout text">

            <div class="newsletter">
                <h2>Newsletter</h2>
                <p>Newsletter Subtitle</p>
                <div class="newsletter-ctn">
                    {{ root_params.header.mailchimp_form|raw }}
                </div>
            </div>

            <div class="sameas">
                <h2>SameAs</h2>
                <p>SameAs Subtitle</p>
                <div class="sameas-ctn">
                    {% for item in root_params.header.sameas %}
                    <a href="{{ item.url }}">{{ item.label }}</a>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}