/* .module.actions  {} */

.module.actions > .wrapper {
	margin: 0 auto;
    max-width: var(--width-main);
	padding: 0 var(--gutter);
    position: relative;
	width: 100%;
}

.module.actions > .wrapper > h2 {
    margin-bottom: 2rem;
    width: 100%;
    text-align: left;
}


.module.actions .item {
    background-color: var(--color-buttonface);
    color: var(--color-buttontext);
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 1rem 1rem 1rem;
}

@media (min-width: 640px) {
    .module.actions .item {
        padding: 2rem;
    }
}

.module.actions .item:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.module.actions .item:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.module.actions .item:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.module.actions .content {
    width: 100%;
    color: var(--color-buttontext);
}

@media (min-width: 640px) {
    .module.actions .content {
        text-align: left;
        width: 66.66%;
    }
}

.module.actions .content * {
    color: var(--color-buttontext);
}

.module.actions .index {
    align-items: center;
    background-color: var(--color-buttontext);
    border-radius: 100%;
    color: var(--color-buttonface);
    display: inline-flex;
    font-size: large;
    font-weight: 500;
    height: 30px;
    justify-content: center;
    line-height: 1;
    margin-bottom: 3px;
    width: 30px;
}

.module.actions .action {
    align-items: flex-end;
    display: flex;
    justify-content: right;
    margin-top: var(--gutter);
    width: 100%;
}

@media (min-width: 640px) {
    .module.actions .action {
        margin-top: 0;
        width: 33.33%;
    }
}

.module.actions .action .button {
    background-color: var(--color-buttontext);
    color: var(--color-buttonface);
    width: 100%;
}

@media (min-width: 640px) {
    .module.actions .action .button {
        width: auto;   
    }
}
