/* .module.actions  {} */

.module.actions .wrapper {
	margin: 0 auto;
    max-width: var(--width-main);
	padding: 0 var(--gutter);
    position: relative;
	width: 100%;
}

.module.actions .item {
    background-color: var(--color-area-bg);
    color: var(--color-area-fg);
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 1rem 1rem 1rem;
}

@media (min-width: 640px) {
    .module.actions .item {
        padding: 2rem;
    }
}

.module.actions .item:first-child {
    border-radius: 8px;
}

.module.actions .content {
    width: 100%;
}

@media (min-width: 640px) {
    .module.actions .content {
        text-align: left;
        width: 66.66%;
    }
}

.module.actions .content h3 {
    color: var(--color-area-fg);
}

.module.actions .content p {
    color: var(--color-area-graytext);
}

.module.actions .index {
    align-items: center;
    background-color: var(--color-bg);
    border-radius: 100%;
    color: var(--color-fg);
    display: inline-flex;
    font-size: large;
    font-weight: 500;
    height: 30px;
    justify-content: center;
    line-height: 1;
    margin-bottom: 3px;
    width: 30px;
}

.module.actions .action {
    align-items: flex-end;
    display: flex;
    justify-content: right;
    margin-top: var(--gutter);
    width: 100%;
}

@media (min-width: 640px) {
    .module.actions .action {
        margin-top: 0;
        width: 33.33%;
    }
}

.module.actions .action .button {
    width: 100%;
}

@media (min-width: 640px) {
    .module.actions .action .button {
        width: auto;   
    }
}
