/* .module.banner  {} */

.module.banner .wrapper {
	margin: 0 auto;
    max-width: var(--width-main);
	padding: 0 var(--gutter);
    position: relative;
	width: 100%;
}

.module.banner .layout {
    background-color: var(--color-area-bg);
    border-radius: 8px;
    color: var(--color-area-fg);
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 1rem 1rem 1rem;
}

@media (min-width: 640px) {
    .module.banner .layout {
        padding: 2rem;
    }
}

.module.banner .content {
    width: 100%;
}

@media (min-width: 640px) {
    .module.banner .content {
        text-align: left;
        width: 66.66%;
    }
}

.module.banner .content h3 {
    color: var(--color-area-fg);
}

.module.banner .content p {
    color: var(--color-area-graytext);
}

.module.banner .action {
    align-items: flex-end;
    display: flex;
    justify-content: right;
    margin-top: var(--gutter);
    width: 100%;
}

@media (min-width: 640px) {
    .module.banner .action {
        margin-top: 0;
        width: 33.33%;
    }
}

.module.banner .action .button {
    width: 100%;
}

@media (min-width: 640px) {
    .module.banner .action .button {
        width: auto;   
    }
}
