/* .module.card {} */

cards-wrapper {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: var(--width-main);
    padding: 0 var(--gutter);
}

cards-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gutter);
}

@media (min-width: 640px) {
    cards-layout {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    cards-layout {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
