/* .module.emphasis {} */

.module.emphasis .wrapper {
    margin: 0 auto;
    padding: 0 var(--gutter);
    width: 100%;
    max-width: var(--width-main);
}

.module.emphasis .text * {
    font-size: x-large;
    line-height: 1.5;
}

@media (min-width: 1024px) {
    .module.emphasis .text * {
        font-size: xx-large;
    }
}





/*===========================================
				    FX 
============================================*/

@media (prefers-reduced-motion: no-preference) {
    .module.emphasis .word {
        line-height: 1.2;
    }

    .module.emphasis .word {
        opacity: 0;
        transition-property: transform, opacity;
        transition-duration: 400ms;
        transform: translateY(50px);
    }

    .module.emphasis[data-scroll="in"] .word {
        opacity: 1;
        transition-delay: calc(var(--line-index)*50ms);
        transition-duration: calc((var(--line-index)*100ms) + 1000ms);
        transform: translateY(0);
    }
}