/* .module.emphasis {} */

.module.emphasis .wrapper {
    margin: 0 auto;
    padding: 0 var(--gutter);
    width: 100%;
    max-width: var(--width-main);
}

.module.emphasis p,
.module.emphasis h2,
.module.emphasis h3,
.module.emphasis h4,
.module.emphasis h5,
.module.emphasis h6,
.module.emphasis li {
    font-size: 24px;
    font-size: clamp(24px, 4vw, 48px);
    line-height: 1.2;
    font-weight: var(--font-base-bold);
    color: var(--color-fg);
    font-weight: var(--font-base-regular);
    text-align: center;
}
