/* .module.features {} */

.module.features .wrapper {
    margin: 0 auto;
    max-width: var(--width-main);
    padding: 0 var(--gutter);
    width: 100%;
}

.module.features .layout {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
}

@media (min-width: 624px) {
    .module.features .layout {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .module.features .layout {
        grid-template-columns: repeat(3, 1fr);
    }
}

.module.features .item {
    max-width: 300px;
}

.module.features .item img {
    height: auto;
    width: 30px;
}

.module.features .item h3 {
    color: var(--color-fg);
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0.5rem;
}

.module.features .item p {
    color: var(--color-graytext);
    margin-top: 0.5rem;
}
