/* .module.features {} */

.module.features  > .wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: var(--w-main);
    padding: 0 var(--gutter);
}

.module.features > .wrapper > h2 {
    margin-bottom: 2rem;
    width: 100%;
    text-align: left;
}

.module.features .layout {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
}

@media (min-width: 624px) {
    .module.features .layout {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .module.features .layout {
        grid-template-columns: repeat(3, 1fr);
    }
}

.module.features .item {
    max-width: 300px;
}

.module.features .item img {
    width: 30px;
    height: auto;
}

.module.features .item h3 {
    margin-top: 0.5rem;
    font-size: medium
}

.module.features .item p {
    color: var(--c-fg-alt);
    margin-top: 0.5rem;
}




/*===========================================
				    FX 
============================================*/

@media (prefers-reduced-motion: no-preference) {

    .module.features .item > img {
        transition-property: transform, opacity;
        transition-delay: 100ms;
        transition-duration: 400ms;
        transform: translateY(15px);
        opacity: 0;
    }

    .module.features .item > h3,
    .module.features .item > p {
        transition-property: transform, opacity;
        transition-delay: calc(var(--item-index) * 100ms);
        transition-duration: calc((var(--item-index) * 100ms) + 400ms);
        transform: translateY(15px);
        opacity: 0;
    }

    .module.features .item[data-scroll="in"] > * {
        opacity: 1;
        transform: translateY(0);
    }
}