/* .module.features {} */

features-wrapper {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: var(--width-main);
    padding: 0 var(--gutter);
    width: 100%;
}

features-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 624px) {
    features-layout {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    features-layout {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

wht-features article img {
    height: auto;
    width: 30px;
}

wht-features article.text h3 {
    color: var(--color-fg);
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 0.5rem;
}

wht-features article.text p {
    color: var(--color-graytext);
    margin-top: 0.5rem;
}
