/* .module.form {} */

/*MODULE*/
.module.form .wrapper{
	width: 100%;
	max-width: var(--w-main);
	margin: 0 auto;
	padding: 0 var(--gutter);
}

/* .module.form .layout {} */


@media (min-width: 1024px) {
    .module.form .layout {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10%;
    }
}

.module.form .content {
    margin: 0 auto;
    max-width: var(--w-tight);
}

@media (min-width: 1024px) {
    .module.form .content {
        margin: 0;
        order: 2;
    }
}

.module.form .panel {
    --c-bg: white;
	--c-fg: #1f1f1f;
    --c-btn-bg: #1f1f1f;
	--c-btn-fg: white;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 2rem;
    width: 100%;
    max-width: var(--w-tight);
    padding: 1rem;
    border: 1px solid whitesmoke;
    background-color: white;
    border-radius: 8px;
}

@media (min-width: 1024px) {
    .module.form .panel {
        margin: 0 auto;
        order: 1;
    }
}

/*REQUIRED FLAG*/
.module.form span.required {
    color: red;
}

/*FIELDS*/
.module.form .form-field {
	margin-bottom: 10px;
}

.module.form .form-field + .form-field {
	margin-top: 20px;
}

/*LABEL*/
.module.form .form-field  .form-label {
    color: var(--c-fg);
	margin-bottom: 5px;
}

/*TEXT INPUT*/
.module.form input[type="text"],
.module.form input[type="email"],
.module.form input[type="number"],
.module.form input[type="date"],
.module.form input[type="tel"],
.module.form input[type="url"],
.module.form input[type="password"],
.module.form textarea,
.module.form select {
	display: block;
	box-sizing: border-box;
	width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: .375rem .75rem;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

/*RADIO & CHECKBOX LIST*/
.module.form .form-field [data-grav-field="checkboxes"] .checkboxes,
.module.form .form-field [data-grav-field="radio"] .radio {
    margin-top: 10px;
}

/*FIX LAFT MARGIN ON SOME INPUT*/
.module.form input[type="checkbox"],
.module.form input[type="radio"] {
    margin-left: 0;
}

.module.form .form-field input[type="file"] {
    display: none;
}

.module.form .dropzone {
    display: flex;
    min-height: 0!important;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

/*BUTTONS*/
.module.form .buttons {
    margin-top: 20px;
}

.module.form form .button {
    width: 100%;
    display: block;
}

/* .module.form form button[type="submit"] {} */

/* FOCUS */ 
.module.form input:focus,
.module.form textarea:focus {
    transition: box-shadow 200ms;
    outline: none;
    box-shadow: 0 0 0 3px rgb(121 164 255);
}
