/* .module.grid {} */

.module.grid  > .wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: var(--w-main);
    padding: 0 var(--gutter);
}

.module.grid > .wrapper > h2 {
    margin-bottom: calc(var(--rhythm)/2);
    width: 100%;
    text-align: center;
}

.module.grid .layout {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: calc(var(--gutter)*2);
}
@media (min-width: 1024px) {
    .module.grid .layout {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* .module.grid .item {} */
