.module.hero {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.module.hero .wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: var(--w-tight);
    padding: 0 var(--gutter);
}

.module.hero .title {
    text-align: center;
}