.module.hero {
    margin-top: 0;
    height: 80vh;
}

@media (min-width: 1024px) {
    .module.hero {
        height: calc(100vh - var(--header));
    }
}

.module.hero .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: var(--gutter);
    right: var(--gutter);
    bottom: var(--gutter);
    left: var(--gutter);
    margin: 0 auto;
    padding: var(--gutter);
    max-width: var(--w-full);
    background-color: var(--c-material);
    border-radius: 8px;
}

.module.hero .title {
    max-width: var(--w-tight);
    text-align: center;
}

.module.hero .title span {
    color: var(--c-hl);
}