.module.mediatext {
   background-color: var(--c-bg);
   color: var(--c-fg);
}

.module.mediatext>.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: var(--w-main);
    padding: 0 var(--gutter);
}

.module.mediatext>.wrapper.right {
    flex-direction: row-reverse;
}

.module.mediatext .media-ctn,
.module.mediatext .content-ctn {
    width: 100%;
}

@media (min-width: 1024px) {
    .module.mediatext .media-ctn {
        width: 50%;
    }

    .module.mediatext .content-ctn {
        width: 50%;
        padding-right: 0;
        padding-left: 5%;
    }

    .module.mediatext>.wrapper.right .content-ctn {
        padding-right: 5%;
        padding-left: 0;
    }
}

.module.mediatext .media-ctn video,
.module.mediatext .media-ctn img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.module.mediatext .media-ctn img[src$='.jpg'],
.module.mediatext .media-ctn img[src$='.jpeg'] {
    background-color: var(--c-fg);
}

.module.mediatext h1,
.module.mediatext h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

@media (min-width: 1024px) {
    .module.mediatext .content-ctn > *:first-child {
        margin-top: 0;
    }
}

.module.mediatext:first-child {
    margin-top: var(--gutter);
}

@media (min-width: 1220px) {
    .module.mediatext:first-child {
        margin-top: calc(var(--rhythm)/2);
    }
}
