/*.module.media {}*/

.module.media > .wrapper {
    width: 100%;
    max-width: var(--w-main);
    margin: 0 auto;
    padding: 0 var(--gutter);   
}

.module.media .wrapper > * {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 6px;
}

.module.media .caption {
    margin-top: 0.5rem;
    padding-right: 20%;
}

.module.media:first-child {
    margin-top: calc(var(--rhythm)/2);
}
