/* .module.mediatext {} */

.module.mediatext .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: var(--w-main);
    padding: 0 var(--gutter);
}

.module.mediatext .wrapper.right {
    flex-direction: row-reverse;
}

.module.mediatext .media {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .module.mediatext .media {
        width: 50%;
    }
}

.module.mediatext .media video,
.module.mediatext .media img {
    display: block;
    width: 100%;
    height: auto;
}

.module.mediatext .content {
    margin-top: 1.5rem;
    width: 100%;
}

@media (min-width: 1024px) {
    .module.mediatext .content {
        margin-top: 0;
        padding-right: 0;
        padding-left: 5%;
        width: 50%;
    }

    .module.mediatext .wrapper.right .content {
        padding-right: 5%;
        padding-left: 0;
    }

    .module.mediatext .content > :first-child {
        margin-top: 0;
    }
}





/*===========================================
                    FX 
============================================*/

@media (prefers-reduced-motion: no-preference) {

    .module.mediatext .media img {
        transition: transform 8s cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: scale(1.1);
    }

    .module.mediatext[data-scroll="in"] .media img {
        transform: scale(1);
    }
}