/*.module.media {}*/

.module.media > .wrapper {
    display: block;
    margin: 0 auto;
    max-width: var(--width-body);
    padding: 0 var(--gutter);  
    position: relative;
    width: 100%;
}

.module.media .content {
    text-align: center;
    margin-bottom: 3rem;
    padding: 0 5%;
}

.module.media img,
.module.media video {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

@media (min-width: 640px) {
    .module.media img,
    .module.media video,
    .module.media lite-youtube {
        border-radius: 1rem;
    }
}

.module.media .caption {
    margin-top: 0.5rem;
    max-width: 80%;
    padding: 0 var(--gutter);  
}

@media (min-width: 640px) {
    .module.media .caption {
        padding: 0;   
    }
}


.module.media:first-child {
    margin-top: calc(var(--rhythm)/2);
}
