/*.module.media {}*/

.module.media > .wrapper {
    display: block;
    position: relative;
    width: 100%;
    max-width: var(--width-main);
    margin: 0 auto;
}

@media (min-width: 640px) {
    .module.media > .wrapper {
        padding: 0 var(--gutter);   
    }
}

.module.media .wrapper > * {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

@media (min-width: 640px) {
    .module.media .wrapper > * {
        border-radius: 8px;
    }
}

.module.media .caption {
    margin-top: 0.5rem;
    max-width: 80%;
    text-align: center;
}

.module.media:first-child {
    margin-top: calc(var(--rhythm)/2);
}
