/* .module.mediatext {} */

mediatext-wrapper {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 100%;
    gap: 1.5rem;
    max-width: var(--width-main);
    padding: 0 var(--gutter);
}

@media (min-width: 1024px) {
    mediatext-wrapper {
        gap: 0;
        grid-template-columns: 1fr 1fr;
        padding: 0 var(--gutter);
    }
}

mediatext-media {
    display: block;
}

@media (min-width: 1024px) {
    .right mediatext-media {
        order: 2;
    }    
}

mediatext-media video,
mediatext-media img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

mediatext-content {
    display: block;
}

@media (min-width: 1024px) {
    mediatext-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10%;
        padding-right: 0;
    }

    .right mediatext-content {
        padding-right: 10%;
        padding-left: 0;
    }
}
