.module {
	display: block;
	position: relative;
	margin-top: var(--rhythm);
	scroll-margin-top: var(--gutter);
	z-index: 1000;
	color: var(--color-fg);
}

.module.rhythm-none {
	margin-top: 0;
}

.module.rhythm-half {
	margin-top: calc(var(--rhythm)/2);
}

.module:first-child  {
    margin-top: var(--gutter);
}





/*===========================================
				    FX 
============================================*/

@media (prefers-reduced-motion: no-preference) {

    /* DEFAULT - FADEIN FROM BOTTOM WHOLE MODULE */
    .module {
        opacity: 0;
        transition-property: transform, opacity;
        transition-duration: 0.9s;
        transform: translateY(20px);
        transition-timing-function: var(--ease-outexpo);
    }

    .module[data-scroll="in"] {
        opacity: 1;
        transform: translateY(0);
    }

}