.module {
  position: relative;
  margin-top: var(--rhythm);
  background-color: var(--c-bg);
  z-index: 1000;

  transform: translateY(15px);
	opacity: 0;
	transition-duration: 0.5s;
	transition-property: opacity, transform;
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.module[data-scroll="in"] {
	transform: translateY(0px);
	opacity: 1;
}

.module.padded {
	padding-top: var(--rhythm);
  padding-bottom: var(--rhythm);
}
.module.mt-rhythm {
  margin-top: var(--rhythm);
}

.module.mt-half {
  margin-top: calc(var(--rhythm) / 2);
}
.module.mt-none {
  margin-top: 0;
}

.module.pt-rhythm {
  padding-top: var(--rhythm);
}

.module.pt-half {
  padding-top: calc(var(--rhythm) / 2);
}

.module.pt-none {
  padding-top: 0;
}

.module.pb-rhythm {
  padding-bottom: var(--rhythm);
}

.module.pb-half {
  padding-bottom: calc(var(--rhythm) / 2);
}

.module.pb-none {
  padding-bottom: 0;
}
