/* wht-numbers {} */

numbers-wrapper {
	position: relative;
    display: block;
    box-sizing: border-box;
	margin: 0 auto;
	padding: 0 var(--gutter);
	width: 100%;
	max-width: var(--width-main);
}

numbers-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 624px) {
    numbers-layout {
        grid-template-columns: 1fr 1fr;
        gap: 10%;
    }
}

@media (min-width: 1024px) {
    numbers-layout {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10%;
    }
}

numbers-item {
    display: block;
}

numbers-item h3 {
    color: var(--color-hl);
	font-size: xx-large;
}

numbers-item h3 {
    font-size: 48px;
	font-weight: var(--font-base-bold);
}

@media (min-width: 640px) {
    numbers-item h3 {
        font-size: clamp(48px, 4vw, 64px);
    }
}

numbers-item p {
	color: var(--color-graytext);
}
