/* .module.panel {} */

panel-wrapper {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: var(--width-main);
    padding: 0 var(--gutter);
    width: 100%;
}

panel-layout {
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
}

@media (min-width: 1024px) {
    panel-layout {
        grid-template-columns: 1fr 1fr;
    }
}

panel-media {
    aspect-ratio: 3 / 4;
    display: block;
}

@media (min-width: 1024px) {
    panel-media {
        aspect-ratio: unset;
        max-height: 90vh;
    }

    .right panel-media {
        order: 2;
    }
}

panel-media img,
panel-media video {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    width: 100%;
}

panel-content {
    background-color: var(--color-area-bg);
    display: block;
    padding: 1.5rem var(--gutter);

}

@media (min-width: 1024px) {
    panel-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 10%;
    
    }
}

panel-content a.button {
    width: 100%;
}

@media (min-width: 640px) {
    panel-content a.button {
        width: auto;
    }
}
