/*wht-quotes {}*/

quotes-wrapper {
	box-sizing: border-box;
	display: block;
	margin: 0 auto;
	max-width: var(--width-main);
	padding: 0 var(--gutter);
	position: relative;
	width: 100%;
}

wht-quotes .scroller__scrollctn {
	height: auto;
	width: 100%;
}

wht-quotes .scroller__slide {
	align-items: center;
	background-color: var(--color-area-bg);
	border-radius: 1rem;
	color: var(--color-area-fg);
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	height: auto;
	justify-content: center;
	padding: var(--rhythm) 2rem;
	scroll-margin-left: 0;
	text-align: center;
	width: 100%;
}

wht-quotes .text blockquote {
  margin: 0 auto;
  max-width: var(--width-tight);
  font-size: 1.5em;
}

wht-quotes .portrait {
  margin: 0 auto;
  margin-top: 2rem;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 9999px;
}

wht-quotes .portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

wht-quotes .source {
  margin-top: 1rem;
  width: 250px;
  color: var(--color-area-graytext);
}
