/*.module.quotes {}*/

.module.quotes > .wrapper {
  position: relative;
  width: 100%;
  max-width: var(--w-main);
  margin: 0 auto;
  padding: 0 var(--gutter);
}

.module.quotes .scroller__scrollctn {
  height: auto;
  width: 100%;

}

.module.quotes .scroller__slide {
  --c-bg: #1f1f1f;
	--c-fg: white;
	--c-btn-bg: white;
	--c-btn-fg: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  scroll-margin-left: 0;
  width: 100%;
  height: auto;
  padding: var(--rhythm) 2rem;
  text-align: center;
  background-color: var(--c-bg);
  color: var(--c-fg);
  border-radius: 4px;
}

.module.quotes blockquote {
  margin: 0 auto;
  max-width: var(--w-tight);
  font-size: 1.5em;
}

.module.quotes .portrait {
  margin: 0 auto;
  margin-top: 2rem;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 9999px;
}

.module.quotes .portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.module.quotes .source {
  margin-top: 1rem;
  width: 250px;
}
