/* body[data-state] {} */

/* body[data-state='loading'] {} */

/* body[data-state='interactive'] {} */

/* body[data-state='complete'] {} */

/* body[data-state^='navigating'] {} */

/* body[data-state^='navigating-forward'] {} */

/* body[data-state^='navigating-backward'] {} */

/* [data-state="in"] {} */

/* [data-state="out"] {} */

img[loading="lazy"] {opacity: 0;}

img[loading="lazy"][data-state="complete"] {
    animation-name: appImg;
    animation-duration: 400ms; 
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
} 

@keyframes appImg {
    to {opacity: 1;}
}