/* https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors */

/* body[data-state^='_0'] {} */
/* body[data-state^='_01'] {} */
/* body[data-state^='_012'] {} */
/* body[data-state*='_nav'] {} */
/* body[data-state*='_nav-f'] {} */
/* body[data-state*='_nav-b'] {} */

/* img[loading="lazy"],
img[loading="lazy"][data-state="0"] {
    opacity: 0;
}

img[loading="lazy"][data-state="1"] {
    animation-name: appImg;
    animation-duration: 200ms; 
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes appImg {
    to {opacity: 1;}
} */

/* body[data-state^='_0'] #main {
    transform: translateY(15px);
    transition-property: transform, opacity;
    transition-duration: 200ms;
}

body[data-state^='_01'] #main {
    transform: translateY(0);
}

body[data-state*='_nav'] #main {
    opacity: 0;
    transform: translateY(15px);
} */
