.button,
a.button,
button.button {
    display: inline-block;
    position: relative;
    margin-top: 0.5rem;
    white-space: nowrap;
    padding: 9px 16px 9px 16px;
    border: none;
    border-radius: 9999px;
    text-align: center;
    font-size: 14px;
    line-height: 1;
    font-weight: var(--fw-medium);
    font-family: var(--ff-mono);
    background-color: var(--c-hl);
    color: var(--c-bg);
    text-decoration: none;
    transition-property: transform, box-shadow;
    outline: none;
    cursor: pointer;
}

a.button:hover:active,
button.button:hover:active {
    transform: translateY(1px);
}

.button.disabled {
    opacity: 0.7;
    box-shadow: 0;
}

.button.waiting {
    color: transparent !important;
}

.button.waiting:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 8px;
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    background-color: white;
    animation-name: button_waiting;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes button_waiting {
    0% {
        opacity: 0;
        transform: translateY(-7px);
    }

    50% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(7px);
    }
}