.button,
a.button,
button.button {
    display: inline-block;
    position: relative;
    margin-top: 0.5rem;
    white-space: nowrap;
    padding: 14px 30px 14px 30px;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    line-height: 1;
    font-weight: var(--font-base-medium);
    font-family: var(--font-base);
    background-color: var(--color-buttonface);
    color: var(--color-buttontext);
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition-property: opacity, box-shadow;
    transition-duration: 0.2s;
}

a:focus {
    outline: 1px dotted var(--color-fg);
}

.button:focus,
a.button:focus,
button.button:focus,
.button:hover,
a.button:hover,
button.button:hover {
    transition: box-shadow 200ms;
    outline: none;
    box-shadow: 0 0 0 4px var(--color-buttonfocus);
}

.button.disabled {
    opacity: 0.7;
    box-shadow: 0;
}

.button.waiting {
    color: transparent !important;
}

.button.waiting:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 8px;
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    background-color: var(--color-buttontext);
    animation-name: button_waiting;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes button_waiting {
    0% {
        opacity: 0;
        transform: translateY(-7px);
    }

    50% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(7px);
    }
}

