.card {
    height: 100%;
}

.card a,
.card span {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    box-shadow: var(--shadow-100);
    }

.card__media {
    aspect-ratio: 1 / 1;
    display: block;
    overflow: hidden;
    background-color: lightgray;
}

.card__media img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    width: 100%;   
}

.card__content {
    background-color: white;
    display: block;
    flex-grow: 1;
    padding: var(--gutter);
}

.card__content h3 {
    font-size: medium;
}

.card__content p {
    color: var(--color-text-medium);
    font-size: small;
    margin-top: 0.5rem;
}

.card a {
    text-decoration: none;
}

.card:hover a h3 {
    text-decoration: underline;
}
