#footer {
    position: relative;
    margin-top: var(--rhythm);
    padding-bottom: var(--gutter);
    background-color: var(--c-bg);
    color: var(--c-fg);
    z-index: 1000;
}

#footer ul,
#footer li {
    list-style: none;
}

#footer .wrapper {
    max-width: var(--w-body);
    margin: 0 auto;
    padding: 0 var(--gutter);
}

#footer .social {
    width: 100%;
    min-height: var(--rhythm);
    background-color: var(--c-material);
    border-radius: 4px;
}

#footer .social .layout {
    display: flex;
    flex-wrap: wrap;
}

#footer .social h2 {
    width: 100%;
}

#footer .social p {
    max-width: 75%;
}

#footer .social .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--gutter);
    width: 100%;
}
@media (min-width: 735px) {
    #footer .social .newsletter {
        padding: var(--gutter);
        width: 66.66%;
    }
}

#footer .social .newsletter-ctn {
margin-top: calc(var(--rhythm)/2);
}

#footer .social input[type="email"] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: var(--c-fg);
    background-color: var(--c-guide);
}

#footer .social input.button {
    margin-top: 10px;
}

#footer .social .sameas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--gutter);
    width: 100%;
    border-top: 1px solid var(--c-guide);
}
@media (min-width: 735px) {
    #footer .social .sameas {
        width: 33.33%;
        border-left: 1px solid var(--c-guide);
        border-top: none;
    }
}

#footer .social .sameas-ctn {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--rhythm)/2);
}

#footer .social .sameas-ctn a {
    width: 50%;
}

#footer .links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
@media (min-width: 735px) {
    #footer .links {
        flex-direction: row;
    }
}

#footer .links nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 735px) {
    #footer .links nav {
        width: 66.66%;
    }
}

#footer .links nav ul {
    margin: 0;
    padding: 0;
    min-width: 50%;
    padding-right: 10px;;
}
@media (min-width: 735px) {
    #footer .links nav ul {
        margin-top: 0;
        min-width: 25%;
    }
}

#footer .links nav ul li:first-child {
    font-weight: var(--fw-bold);
    margin-top: var(--gutter);
}

#footer .links nav a {
 text-decoration: none;
}

#footer .legal {
    margin-top: calc(var(--rhythm)/2);
    display: flex;
    justify-content: space-between;
}

/*#footer .copyright {}*/

/*#footer .credit {}*/

#footer .credit svg {
    width: 49px;
    height: auto;
}
