#footer {
    margin-top: var(--rhythm);
    padding-top: var(--rhythm);
    padding-bottom: var(--gutter);
    background-color: var(--c-material);
    z-index: 1000;
}

#footer ul,
#footer li {
    list-style: none;
}

#footer .wrapper {
    max-width: var(--w-main);
    margin: 0 auto;
    padding: 0 var(--gutter);
}

#footer .links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
@media (min-width: 735px) {
    #footer .links {
        flex-direction: row;
    }
}

#footer .links nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#footer .links nav ul {
    margin: 0;
    padding: 0;
    min-width: 50%;
    padding-right: 10px;;
}
@media (min-width: 735px) {
    #footer .links nav ul {
        margin-top: 0;
        min-width: 20%;
    }
}

#footer .links ul li:first-child {
    font-weight: var(--fw-bold);
    margin-top: var(--gutter);
}

#footer .links li {
    padding-top: 5px;
    color: var(--c-fg);
}

#footer .links a {
    text-decoration: none;
    color: var(--c-text);
}

#footer .legal {
    margin-top: var(--rhythm);
    max-width: 80%;
}

#footer .domstate-ttc,
#footer .domstate-tti {
    color: var(--c-hl);
}
