@media (prefers-reduced-motion: no-preference) {

    /* FADEIN ALL MODULE ON SCROLL */
    .module {
        transform: translateY(15px);
        opacity: 0;
        transition-duration: 0.5s;
        transition-property: opacity, transform;
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    
    .module[data-scroll="in"] {
        transform: translateY(0px);
        opacity: 1;
    }

    /* FADEIN CARD USING THEIR INDEX AS DELAY */
    .module [class$='__card'],
    .module.grid .item {
        opacity: 0;
        animation-delay: calc(0.04s * var(--index));
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }

    .module[data-scroll="in"] [class$='__card'],
    .module.grid[data-scroll="in"] .item {
        animation-name: fxcard;
    }

    @keyframes fxcard {
        from { opacity: 0; }
        to {opacity: 1;}
    }

    /* TITLES CHAR ANIMATIONS */

    h1 .word {
        overflow: hidden;
    }

    [data-scroll="in"] h1 .char {
        transform: translateY(100%);
        animation-name: slide-in;
        animation-delay: calc(10ms * var(--char-index));
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-fill-mode: forwards;
    }
    
    @keyframes slide-in {
        from {transform: translateY(100%);}
        to {transform: translateY(0)}
    }
}
