@media (prefers-reduced-motion: no-preference) {

    /*===========================================
         		        MODULES 
    ============================================*/
    /* FADEIN ALL MODULE ON SCROLL */
    /* .module {
        transform: translateY(15px);
        opacity: 0;
        transition-duration: 0.5s;
        transition-property: opacity, transform;
        transition-timing-function:cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    
    .module[data-scroll="in"] {
        transform: translateY(0px);
        opacity: 1;
    } */




    
    /*===========================================
         		MODULE EMPHASIS 
    ============================================*/
    .module.emphasis p {
        opacity: 0;
       }
       
    .module.emphasis p.splitting {
        opacity: 1;
    }
    
    .module.emphasis .splitting .word {
        display: inline-block;
        overflow: hidden;
    }
    
    .module.emphasis .splitting .char {
        transform: translateY(150%);
        display: inline-block;
    }
    
    .module.emphasis[data-scroll="in"] .splitting .char {
        animation: emphasis-slidein 500ms cubic-bezier(.2, 0, .1, 1) both;
        animation-delay: calc(10ms * var(--word-index));
    }
    
    @keyframes emphasis-slidein {
        to {
            transform: translateY(0%);
        }
    }





    /*===========================================
         		MODULE MEDIATEXT 
    ============================================*/

    .module.mediatext .media img {
        transition: transform 8s cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: scale(1.1);
    }

    .module.mediatext[data-scroll="in"] .media img {
        transform: scale(1);
    }





    /*===========================================
         		LANDING HEADING 
    ============================================*/

    .landing__heading .media img {
        transition: transform 8s cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: scale(1.1);
    }

    .landing__heading[data-scroll="in"] .media img {
        transform: scale(1);
    }
}
