#gdpr {
    display: none;
    position: fixed;
    bottom: var(--gutter);
    left: var(--gutter);
    right: var(--gutter);
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #0d59f2;
    color: var(--color-buttontext);
    z-index: 5000;
    border-radius: 8px;
    border: 1px solid var(--color-area);
    background-color: var(--color-bg);
    color: var(--color-fg);
    --color-buttonfocus: #a3ffc8;
    --shadow-color: 0deg 0% 63%;
    --shadow-elevation-medium:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
      0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
      2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
      5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
      box-shadow: var(--shadow-elevation-medium);
}

@media (min-width: 640px) {
    #gdpr {
        max-width: 250px;
        left: unset;
    }
}

.gdpr__content {
    width: 100%;
    font-size: small;
}

.gdpr__action.button {
    padding: 6px 15px 6px 15px;
    font-size: small;
    display: block;
    width: 100%;
    background-color: #29c768;
}
