#header-shim {
    position: relative;
    height: 50px;
}

#header {
    font-size: medium;
    height: 50px;
    left: 0;
    line-height: 1;
    margin: 0 auto;
    max-width: var(--width-main);
    padding: var(--gutter);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5000;
    border-bottom: var(--border-100);
    background-color: var(--color-bg);
}

#header .bar {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
}

#header .bar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .bar .logo svg {
    width: 70px;
    height: auto;
    z-index: 1;
}

#header .bar .toggles {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#header .bar nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .bar nav ul li {
    margin-left: 10px;
    font-weight: 700;
}

#header .bar nav ul li.version {
    color: var(--color-text-medium);
    font-weight: 400;
}

#header .bar nav ul li button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}
