#header-shim {
    position: relative;
    height: 50px;
}

#header {
    font-size: medium;
    height: 50px;
    left: 0;
    line-height: 1;
    margin: 0 auto;
    max-width: var(--width-main);
    padding: var(--gutter);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5000;
    border-bottom: var(--border-100);
    background-color: var(--color-bg);
}

#header .layout {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
}

#header .layout .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .layout .logo svg {
    width: 70px;
    height: auto;
    z-index: 1;
}

#header .layout .toggles {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#header .version {
    opacity: 0.7;
}





/*LINKS*/
#header .layout nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .layout nav ul li {
    margin-left: 10px;
}

@media (min-width: 640px) {
    #header .layout nav ul li {
        margin-left: var(--gutter);
    }
}


/* #header .layout nav ul li.langswitcher {} */





/*TOGGLES*/
#header .layout nav ul li button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

#header .snipcart-items-count {
    position: absolute;
    top: 13px;
    right: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14px;
    width: 14px;
    font-size: 8px;
    line-height: 8px;
    border-radius: 100%;
    background-color: var(--color-buttonface);
    color: var(--color-buttontext);
}
