/* #header {} */

#header .shim {
    height: var(--header);
}

#header .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: medium;
    line-height: 1;
    padding: var(--gutter);
    padding-bottom: 0;
    color: var(--c-fg);
    z-index: 5000;
}

#header .header .layout {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--w-full);
    height: 100%;
}

#header .header .layout .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .header .layout .toggles {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#header .header .version {
    opacity: 0.7;
}







/*LINKS*/
#header .header .layout nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .header .layout nav ul li {
    margin-left: var(--gutter);
}

#header .header .layout nav ul li.langswitcher {
    opacity: 0.7;
}




/*TOGGLES*/
#header .header .layout nav ul li button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

#header .header .snipcart-items-count {
    position: absolute;
    top: 13px;
    right: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14px;
    width: 14px;
    font-size: 8px;
    line-height: 8px;
    border-radius: 100%;
    background-color: var(--c-btn-bg);
    color: var(--c-btn-fg);
}
