#loader {
    display: none;
}

[data-state="waiting"] #loader {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f1f1f1;
    z-index: 9999;
    cursor: progress;
    animation-name: appLoader;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes appLoader {
    0% {opacity: 0.5;}
    50% {opacity: 0.7;}
    100% {opacity: 0.5;}
}