/* #loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 2147483647;
    transition: all 200ms;
}

body[data-state^='_01'] #loader {
    opacity: 0;
    visibility: hidden;
}

body[data-state*='_nav'] #loader {
    opacity: 1;
    visibility: visible;
}

body[data-state^='_0'] #main {
    transform: translateY(15px);
    transition-property: transform;
    transition-duration: 200ms;
}

body[data-state^='_01'] #main {
    transform: translateY(0);
}

body[data-state*='_nav'] #main {
    transform: translateY(15px);
} */
