/* #loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 2147483647;
    transition: all 200ms;
}

body[data-state^='_01'] #loader {
    opacity: 0;
    visibility: hidden;
}

body[data-state*='_nav'] #loader {
    opacity: 1;
    visibility: visible;
}
