#share__dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;

  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}

@media (min-width: 835px) {
  #share__dialog {
    margin: 0 auto;
  }
}

#share__dialog.share__dialog--on {
  visibility: visible;
  opacity: 1;
}

.share__dialog__container {
  position: relative;
  width: 100%;
  max-width: 500px;
  padding: 40px 20px 10px 20px;
  background-color: white;
  color: #313131;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  background: white;
  transition-property: transform;
  transition-duration: 0.2s;
  transform: translateY(-20px);
}

.share__dialog--on .share__dialog__container {
  transform: translateY(0px);
}

.share__dialog__header {
  margin-bottom: 40px;
  font-size: ;
}

.share__dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: inherit;
  cursor: pointer;
}

.share__target-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-bottom: 10px;
}

@media (min-width: 835px) {
  .share__target-container {
    grid-template-columns: 1fr 1fr;
  }
}
