/* #share {} */

#share {
	margin-top: calc(var(--rhythm)/2);
}

#share > .wrapper {
	margin: 0 auto;
	padding: 0 var(--gutter);
	width: 100%;
	max-width: var(--w-tight);
}

#share .wrapper .layout {
	background-color: #f1f1f1;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: var(--gutter);
}

/* #share .content {} */

#share .triggers {
	display: flex;
	align-items: center;
	justify-content: center;
}

#share .native {
	display: flex;
	align-items: center;
	justify-content: center;
}

#share .fallback {
	display: flex;
	align-items: center;
	justify-content: center;
}

#share a {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	border: 1px solid var(--c-fg);
	border-radius: 4px;
	padding: 8px;
}

#share a > svg {
	width: 100%;
	height: auto;
}
