/*REGULAR*/

.text h1, 
.text .h1 {
    font-size: var(--fs-xxlarge);
    line-height: var(--lh-large);
    font-weight: var(--fw-bold);
    letter-spacing: normal;
    color: var(--c-title);
}
.text.prose h1, 
.text.prose .h1 {
    margin-top: var(--text-mt-xxlarge);
    margin-bottom: var(--text-mb-xxlarge);
}

.text h2, 
.text .h2 {
    font-size: var(--fs-xlarge);
    line-height: var(--lh-large);
    font-weight: var(--fw-bold);
    letter-spacing: normal;
    color: var(--c-title);
}
.text.prose h2, 
.text.prose .h2 {
    margin-top: var(--text-mt-xlarge);
    margin-bottom: var(--text-mb-xlarge);
}

.text h3,
.text .h3,
.text h4,
.text .h4,
.text h5,
.text .h5,
.text h6,
.text .h6 {
    font-size: var(--fs-large);
    line-height: var(--lh-large);
    font-weight: var(--fw-bold);
    letter-spacing: normal;
    color: var(--c-title);
}
.text.prose h3,
.text.prose .h3,
.text.prose h4,
.text.prose .h4,
.text.prose h5,
.text.prose .h5,
.text.prose h6,
.text.prose .h6 {
    margin-top: var(--text-mt-large);
    margin-bottom: var(--text-mt-large);
}

.text p {
    font-size: var(--fs-medium);
    line-height: var(--lh-medium);
    letter-spacing: 0.02em;
    color: var(--c-text);
}
.text.prose p {
    margin-top: var(--text-mt-medium);
    margin-bottom: var(--text-mt-medium);
}

.prose > :first-child {margin-top: 0;}
.prose > :last-child {margin-bottom: 0;}





/*SMALL*/

.text.small p {
    font-size: small;
    line-height: 1.2rem;
}
.text.small.prose p {
    margin-top: 1rem;
    margin-bottom: 0;
}

.text.small h3,
.text.small .h3,
.text.small h4,
.text.small .h4,
.text.small h5,
.text.small .h5,
.text.small h6,
.text.small .h6 {
    font-size: medium;
    line-height: 1.5rem;
    font-weight: var(--fw-bold);
}
.text.small.prose h3,
.text.small.prose .h3,
.text.small.prose h4,
.text.small.prose .h4,
.text.small.prose h5,
.text.small.prose .h5,
.text.small.prose h6,
.text.small.prose .h6 {
    margin-top: 1rem;
    margin-bottom: 0;
}


.text.small h2, 
.text.small .h2,
.text.small h1, 
.text.small .h1 {
    font-size: large;
    line-height: 1.5rem;
    font-weight: var(--fw-bold);
}
.text.small.prose h2, 
.text.small.prose .h2,
.text.small.prose h1, 
.text.small.prose .h1 {
    margin-top: 2rem;
    margin-bottom: 0;
}




/*MISC*/

.text p:empty {
    display: none;
}

.text strong {
    font-size: inherit;
    font-weight: var(--fw-bold);
}

.text em {
    font-size: inherit;
    font-style: italic;
}

.text sup {
    font-size: x-small;
}

.text blockquote,
.text blockquote p {
    color: var(--c-fg);
    font-size: 1rem;
    line-height: 1.9rem;
}

.text ul {
    margin-top: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    color: var(--c-text);
    line-height: inherit;
    list-style-position: outside;
    list-style-type: disc;
}

.text ol {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--c-text);
    line-height: inherit;
    list-style-position: inside;
    list-style-type: decimal;
}

.text li,
.text ul {
    margin-left: 0px;
    list-style: disc;
    font-size: inherit;
    line-height: inherit;
}


.text li > p {
    display: inline;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
}

.text a {
    color: var(--c-fg);
    text-decoration: underline;
}

.text code {
    background-color: var(--c-material);
    padding: 0px 5px 2px 5px;
    border: 1px solid #dedede;
    border-radius: 4px;
}
