/*===========================================
					COLORS 
============================================*/

:root {
	--color-bg: white;
	--color-fg: #0a2540;
	--color-hl: #0d59f2;
	--color-graytext: #425466;

	--color-buttonface: #0d59f2;
	--color-buttontext: white;
	--color-buttonfocus: rgb(121 164 255);

	--color-area-bg: #f1f1f1;
	--color-area-fg: #0a2540;
	--color-area-hl: #0d59f2;
	--color-area-graytext: #425466;
}





/*===========================================
         		DIMENSIONS 
============================================*/

:root {
	--w-tight: 100%;
	--w-main: 100%;
	--w-body: 100%;
	--w-full: 100%;
	--gutter: 16px;
	--rhythm: 120px;
	--header: 34px;
}

@media (min-width: 640px) {
	:root {
		--w-tight: 500px;
		--w-main: 100%;
		--w-body: 100%;
		--w-full: 100%;
		--gutter: 18px;
		--rhythm: 160px;
		--header: 40px;
	}
}
  
@media (min-width: 1024px) {
	:root {
		--w-tight: 535px;
		--w-main: 900px;
		--w-body: 100%;
		--w-full: 100%;
		--gutter: 20px;
		--rhythm: 180px;
		--header: 44px;
	}
}
  
@media (min-width: 1280px) {
	:root {
		--w-tight: 535px;
		--w-main: 1200px;
		--w-body: 100%;
		--w-full: 100%;
		--gutter: 20px;
		--rhythm: 200px;
		--header: 44px;
	}
}

@media (min-width: 1440px) {
	:root {
		--w-tight: 640px;
		--w-main: 1200px;
		--w-body: 1600px;
		--w-full: 1920px;
		--gutter: 20px;
		--rhythm: 200px;
		--header: 44px;
	}
}





/*===========================================
				DOCUMENT 
============================================*/
body {
	background-color: var(--color-bg);
    color: var(--color-fg);
}