/*===========================================
					COLORS 
============================================*/

:root {
	--color-bg: white;
	--color-fg: #0a2540;
	--color-hl: #0d59f2;
	--color-graytext: rgb(106, 115, 125);

	--color-buttonface: #0d59f2;
	--color-buttontext: white;
	--color-buttonfocus: rgb(121 164 255);

	--color-area-bg: #f1f1f1;
	--color-area-fg: #0a2540;
	--color-area-hl: #0d59f2;
	--color-area-graytext: #425466;
}





/*===========================================
         		DIMENSIONS 
============================================*/

:root {
	--width-tight: 100%;
	--width-main: 100%;
	--width-body: 100%;
	--width-full: 100%;
	--gutter: 16px;
	--rhythm: 120px;
	--header: 34px;
}

@media (min-width: 640px) {
	:root {
		--width-tight: 500px;
		--width-main: 100%;
		--width-body: 100%;
		--width-full: 100%;
		--gutter: 18px;
		--rhythm: 160px;
		--header: 40px;
	}
}
  
@media (min-width: 1024px) {
	:root {
		--width-tight: 535px;
		--width-main: 900px;
		--width-body: 100%;
		--width-full: 100%;
		--gutter: 20px;
		--rhythm: 180px;
		--header: 44px;
	}
}
  
@media (min-width: 1280px) {
	:root {
		--width-tight: 535px;
		--width-main: 1200px;
		--width-body: 100%;
		--width-full: 100%;
		--gutter: 20px;
		--rhythm: 200px;
		--header: 44px;
	}
}

@media (min-width: 1440px) {
	:root {
		--width-tight: 640px;
		--width-main: 1200px;
		--width-body: 1600px;
		--width-full: 1920px;
		--gutter: 20px;
		--rhythm: 200px;
		--header: 44px;
	}
}




/*===========================================
			EASING FUNCTIONS 
============================================*/
:root {
	--ease-outexpo: cubic-bezier(0.16, 1, 0.3, 1);
	--ease-inoutexpo: cubic-bezier(0.87, 0, 0.13, 1);
	--ease-outback: cubic-bezier(0.34, 1.56, 0.64, 1)
}





/*===========================================
				DOCUMENT 
============================================*/
body {
	background-color: var(--color-bg);
    color: var(--color-fg);
}
#main {
	min-height: 80vh;	
}