/*===========================================
					COLORS 
============================================*/

:root {
	--c-bg: white;
	--c-fg: #1d1d1f;
	--c-hl: #008a70;
	--c-btn-bg: #008a70;
	--c-btn-fg: white;
	--c-focus: rgb(98 1 244 / 20%);
	--c-material: #f1f1f1;
	--c-guide: rgb(195 198 204 / 50%);
}





/*===========================================
         		DIMENSIONS 
============================================*/

:root {
	--w-tight: 100%;
	--w-main: 100%;
	--w-body: 100%;
	--w-full: 100%;
	--gutter: 20px;
	--rhythm: 120px;
	--header: 47px;
}

@media (min-width: 640px) {
	:root {
		--w-tight: 500px;
		--w-main: 100%;
		--w-body: 100%;
		--w-full: 100%;
		--gutter: 20px;
		--rhythm: 160px;
	}
}
  
@media (min-width: 1024px) {
	:root {
		--w-tight: 500px;
		--w-main: 900px;
		--w-body: 100%;
		--w-full: 100%;
		--gutter: 20px;
		--rhythm: 160px;
	}
}
  
@media (min-width: 1280px) {
	:root {
		--w-tight: 500px;
		--w-main: 1200px;
		--w-body: 100%;
		--w-full: 100%;
		--gutter: 20px;
		--rhythm: 160px;
	}
}

@media (min-width: 1440px) {
	:root {
		--w-tight: 640px;
		--w-main: 1200px;
		--w-body: 1600px;
		--w-full: 1920px;
		--gutter: 20px;
		--rhythm: 160px;
	}
}



/*===========================================
				DOCUMENT 
============================================*/
body {
	background-color: var(--c-bg);
    color: var(--c-fg);
	font-family: sans-serif;
	line-height: 1.5;
}