.fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.rhythm-half {
  margin-top: calc(var(--rhythm)/2);
}

#skipto {
  background-color: yellow;
  color: black;
  padding: 8px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  z-index: 9999;
}

#skipto:focus-visible {
  transition: transform 0.2s;
  transform: translateY(0%);
}

.edit {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  z-index: 9999;
  color: white;
  background-color: #29c768;
  font-size: x-small;
  padding: 2px 5px;
}

body > .edit {
  position: fixed;
  bottom: var(--gutter);
  left: var(--gutter);
}

.module > .edit {
  position: absolute;
  top: 0;
  right: var(--gutter);
}

.edit-overlay {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: 0;
  border: 2px solid #29c768;
  background-color: #29c76817;
  border-radius: 4px;
  z-index: 9998;
  transition-duration: 0.2s;
  transition-property: visibility, opacity;
}

.module > .edit:hover + .edit-overlay {
  visibility: visible;
  opacity: 1;
  top: 0;
  right: var(--gutter);
  bottom: 0;
  left: var(--gutter);
  height: auto;
}
