.fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.width-text,
.w-text {
  width: 100%;
  max-width: var(--w-text);
  padding: 0 var(--gutter);
  margin: 0 auto;
}

.width-body,
.w-body {
  width: 100%;
  max-width: var(--w-body);
  padding: 0 var(--gutter);
  margin: 0 auto;
}

.width-full,
.w-full {
  width: 100%;
  max-width: var(--w-full);
  margin: 0 auto;
}
