/* .module.editorial {} */

.module.editorial > .wrapper {
  padding: 0 var(--gutter);
  margin: 0 auto;
  max-width: var(--width-text);
  width: 100%;
}

.module.editorial ul li {
  margin-left: 18px;
}

/* REMOVE MARGIN FOR FIRST ELEMENT */
.module.editorial > *:nth-child(1) {
  margin-top: 0;
}

.module.editorial hr {
  margin: calc(var(--rhythm) / 2) 0 calc(var(--rhythm) / 2) 0;
  /*border: none;*/
}

.module.editorial p img,
.module.editorial p video {
  display: block;
  margin: 0 auto 0 auto;
  width: 100%;
}

.module.editorial blockquote p {
  padding: 0;
}

/*EMBED*/

.module.editorial .embed {
  position: relative;
  margin: 0 auto;
  margin-top: 2rem;
}

.module.editorial .embed > .video-ctn {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  background-color: #000;
}

.module.editorial .embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*SPOTIFY*/
.module.editorial iframe[src*="spotify"] {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}

.module.editorial .twitter-tweet {
  margin: 0 auto;
  width: 100%;
}

.module.editorial span.dropcap {
  float: left;
  font-size: xx-large;
  font-weight: 700;
  line-height: 1;
  padding-top: 2px;
  padding-right: 8px;
}

.module.editorial .small * {
  font-size: small;
  line-height: 1.4;
}

.module.editorial .caption * {
  font-size: small;
  line-height: 1.4;
  opacity: 0.7;
  margin-top: 0.5rem;
  margin-right: 10%;
}

.module.editorial .large * {
  font-size: x-large;
  line-height: 1.4;
}

/*DETAILS/SUMMARY*/
.module.editorial details {
  margin-top: 2rem;
  padding: 1rem 0;
  width: 100%;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.module.editorial details > *:last-child {
  padding-bottom: 1rem;
}

.module.editorial details summary {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: x-large;
  line-height: 1.2;
  padding-right: 2rem;
}

.module.editorial details summary:focus {
  outline: 0;
}

.module.editorial details summary::-webkit-details-marker {
  display: none;
}

.module.editorial details summary:before,
.module.editorial details summary:after {
  position: absolute;
  right: 10px;
  content: ' ';
  height: 20px;
  width: 1px;
  background-color: var(--color-fg);
  transition: transform 0.2s;
}

.module.editorial details summary:after {
  transform: rotate(90deg);
}

.module.editorial details[open] summary:before {
  transform: rotate(45deg);
}

.module.editorial details[open] summary:after {
  transform: rotate(135deg);
}

.module.editorial details + details {
  margin: 0;
  border-top: none;
}
