/*.module.emphasis {}*/

.emphasis .wrapper {
	width: 100%;
	max-width: var(--width-body);
	margin: 0 auto;
	padding: 0 var(--gutter);
	text-align: center;
}

.emphasis h2.title {
	margin-top: 0;
	font-weight: 700;
}

.emphasis .content {
	width: 100%;
	max-width: calc(var(--width-text) - 2*var(--gutter));
	margin: 0 auto;
	padding: 0 calc(var(--gutter));
}