/*.module.features {}*/

.module.features .wrapper {
	width: 100%;
	max-width: var(--width-body);
	margin: 0 auto;
	padding: 0 var(--gutter);
}

.module.features .items {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.module.features .items .item {
	padding: 0 1rem;
	width: 33.33%;
}

.module.features .item img {
	max-width: 33%;
}

.module.features .item h3 {

}

.module.features .item p {
	font-size: small;
	margin-top: 0.5rem;
}