.features__ctn {
	width: 100%;
	max-width: var(--width-body);
	margin: 0 auto;
	padding: 0 var(--gutter);
}

.features__caption {
	margin-top: 2rem;
	font-size: small;
    letter-spacing: 3px;
    color: var(--color-hl);
}
@media (min-width: 835px) {
	.features__caption {
		margin-top: 0;
	}
}

h2.features__title {
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-weight: 700;
}
@media (min-width: 835px) {
	h2.features__title {
		margin-bottom: 3rem;
		max-width: 65%;
	}
}

.features__grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2rem;
}
@media (min-width: 835px) {
	.features__grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 2rem;
	}
}

.features__item {
	background-color: var(--color-material-bg);
	color: var(--color-material-fg);
	padding: 2rem;
	border-radius: 8px;
	box-shadow: var(--shadow-material);
}

.features__item__icon {
	width: 50px;
}

.features__item__icon img {
	width: 100%;
}

h3.features__item__title {
	font-size: medium;
	font-weight: 700;
	margin-top: 1rem;
}

.features__item__text {
	margin-top: 0.5rem;
}

.features__item__text>p {
	font-size: small;
}

/*REMOVE MARGIN FOR FIRST ELEMENT*/
.features__item__text> *:nth-child(1) {
	margin-top: 0;
}