/*.hero {}*/

.hero .wrapper {
	position: relative;
	max-width: var(--width-body);
	margin: 0 auto;
	min-height: 450px;
}

@media (min-width: 835px) {
	.hero .wrapper {
		min-height: 550px;
	}
}

.hero .media-ctn {
	margin: 0 var(--gutter);
}

.hero .media-ctn img, 
.hero .media-ctn video {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.hero .content-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 var(--gutter);
    padding: 0 var(--gutter);
    color: var(--color-fg);
    text-align: center;
}

.hero .content-ctn * {
	max-width: 500px;
}

.hero h2 {
	font-weight: 700;
	margin: 0;
}

.hero p {
	margin-top: 10px;
}

.hero .button {
	margin-top: 20px;
}

.hero .wrapper:hover .button {
    transform: translateY(-1px);
    box-shadow: var(--shadow-button-hover);
}

.hero .wrapper:hover:active .button {
    transition-duration: 0s;
    transform: translateY(1px);
}