/* .module.hero {} */

.module.hero > .wrapper {
  position: relative;
  max-width: var(--width-body);
  margin: 0 auto;
}

.module.hero .inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 100%;
}

@media (min-width: 735px) {
  .module.hero .inner {
    padding-top: 56.25%;
  }
}

.module.hero .media-ctn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 var(--gutter);
  background-color: var(--c-bg);
  overflow: hidden;
}

.module.hero .media-ctn img,
.module.hero .media-ctn video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.module.hero .content-ctn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  margin: 0 var(--gutter);
  padding: calc(var(--gutter) * 2);
  color: var(--c-fg);
  text-align: center;
}

.module.hero p {
  margin-top: 10px;
}

.module.hero .button {
  margin-top: var(--gutter);
}

.module.hero > .wrapper:hover .button {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);;
}

.module.hero > .wrapper:hover:active .button {
  transform: translateY(1px);
}

.module.hero .button {
  color: var(--c-hl);
  background-color: white;
}
