.logos__ctn {
	width: 100%;
	max-width: var(--width-body);
	margin: 0 auto;
	padding: 0 var(--gutter);
}

h2.logos__title {
	text-align: center;
	max-width: var(--width-text);
	margin: 0 auto;
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 700;
}

.logos__grid {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.logos__item {
	position: relative;
    width: 50%;
    padding: 25px;
    padding-bottom: 0;
}
@media (min-width: 835px) {
	.logos__item {
	    width: 15%;
	}
}

.logos__item img {
	width: 100%;
	max-height: 70px;
}
