/* .module.map {} */

.module.map > .wrapper {
  width: 100%;
  max-width: var(--width-body);
  margin: 0 auto;
  padding: 0 var(--gutter);
}

.module.map .map-ctn {
  height: 400px;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 835px) {
  .module.map .map-ctn {
    height: 600px;
  }
}
