/*.module.map {}*/

.map .wrapper {
	width: 100%;
	max-width: var(--width-body);
	margin: 0 auto;
	padding: 0 var(--gutter);
}

.map .map-ctn {
	height: 400px;
    width: 100%;
    overflow: hidden;
}

@media (min-width: 835px) {
	.map .map-ctn {
		height: 600px;
	}
}
