.material-cards__ctn {
	width: 100%;
	max-width: var(--width-body);
	margin: 0 auto;
	padding: 0 var(--gutter);
}

.material-cards__content h2 {
	margin-top: 2rem;
	font-weight: 700;
}

.material-cards__content {
	margin-bottom: 2.5rem;
	color: var(--color-fg);
}

.material-cards__grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: var(--gutter);
}
@media (min-width: 511px) {
	.material-cards__grid {
		grid-template-columns: 1fr 1fr;
	}
}
@media (min-width: 835px) {
	.material-cards__grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media (min-width: 1000px) {
	.material-cards__grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

a.material-cards__item,
.material-cards__item {
	position: relative;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
	background-color: var(--color-material-bg);
    color: var(--color-material-fg);
    border-radius: 8px;
    box-shadow: var(--shadow-material);
    overflow: hidden;
    transition-property: box-shadow, transform;
    transition-duration: 0.2s;
    text-decoration: none;
}
@media (min-width: 835px) {
	a.material-cards__item,
	.material-cards__item {
		min-height: 300px;
	}
}

a.material-cards__item:hover {
	transform: translateY(-2px);
    box-shadow: var(--shadow-material-hover);
    cursor: pointer;
}

a.material-cards__item:hover:active {
	transform: translateY(1px);
}

h3.material-cards__item__title {
	font-size: x-large;
	font-weight: 700;
	margin-top: 0;
	z-index: 2;
}

.material-cards__item__text {
	margin-top: 0.5rem;
	z-index: 2;
}

.material-cards__item__text>p {
	font-size: small;
}

.material-cards__item__arrow {
    display: inline;
    width: 15px;
    height: 15px;
}


/*REMOVE MARGIN FOR FIRST ELEMENT*/
.material-cards__item__text> *:nth-child(1) {
	margin-top: 0;
}

