/*.module.media {}*/

.module.media>.wrapper {
    width: 100%;
    max-width: var(--w-body);
    margin: 0 auto;
    padding: 0 var(--gutter);
}

.module.media>.wrapper>* {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.module.media>.wrapper video {
	background-color: var(--c-fg);
}

.module.media img[src$='.jpg'],
.module.media img[src$='.jpeg'] {
    background-color: var(--c-fg);
}

.module.media:first-child {
    margin-top: calc(var(--rhythm)/2);
}
