.mediatext .wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: var(--width-body);
	margin: 0 auto;
	padding: 0 var(--gutter);
	align-items: center;
}

.mediatext .wrapper.right {
	flex-direction: row-reverse;
}

.mediatext.media-ctn,
.mediatext.content-ctn {
	width: 100%;
}

@media (min-width: 835px) {

	.mediatext .media-ctn {
		width: 50%;
	}

	.mediatext .content-ctn {
		width: 50%;
		padding-right: 0;
		padding-left: 90px;

	}

	.mediatext .wrapper.right .content-ctn {
		padding-right: 90px;
		padding-left: 0;
	}
}

.mediatext .media-ctn video,
.mediatext .media-ctn img {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.mediatext h2,
.mediatext h3 {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-weight: 700;
}

.mediatext p {
	margin-top: 1rem;
	margin-bottom: 0;
}


@media (min-width: 835px) {
	.mediatext h2:first-child {
		margin-top: 0;
	}
}
