/*.module.media {}*/

.module.media>.wrapper {
    width: 100%;
    max-width: var(--w-body);
    margin: 0 auto;
    padding: 0 var(--gutter);   
}

.module.media .wrapper > * {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 6px;
}

.module.media .caption {
    margin-top: 0.5rem;
    padding-right: 20%;
}

.module.media video {
	background-color: var(--c-fg);
}

.module.media img[src$='.jpg'],
.module.media img[src$='.jpeg'] {
    background-color: var(--c-fg);
}

.module.media:first-child {
    margin-top: calc(var(--rhythm)/2);
}
