.mediatext__ctn {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: var(--width-body);
	margin: 0 auto;
	padding: 0 var(--gutter);
	align-items: center;
}

.mediatext--right .mediatext__ctn {
	flex-direction: row-reverse;
}

.mediatext__media,
.mediatext__content {
	width: 100%;
}

@media (min-width: 835px) {

	.mediatext__media {
		width: 40%;
	}

	.mediatext__content {
		width: 60%;
		padding-right: 0;
		padding-left: 90px;

	}

	.mediatext--right .mediatext__content {
		padding-right: 90px;
		padding-left: 0;
	}
}

.mediatext__media video,
.mediatext__media img {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 8px;
}

.mediatext h2,
.mediatext h3 {
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-weight: 700;
}
