.module {
    position: relative;
    margin-top: var(--rhythm);
    z-index: 1000;
}

.module.padded {
	padding: var(--rhythm) 0;
	background-color: var(--color-bg);
}

.module .caption {
	margin-top: 2rem;
	font-size: small;
	letter-spacing: 3px;
    color: var(--color-hl);
}
@media (min-width: 835px) {
	.module .caption {
		margin-top: 0;
	}
}