/*.module.quotes {}*/

.module.quotes > .wrapper {
  position: relative;
  width: 100%;
  max-width: var(--w-body);
  margin: 0 auto;
  padding: 0 var(--gutter);
}

.module.quotes .swiper-container {
  color: white;
  height: auto;
  width: 100%;
  background-color: var(--c-panel-bg);
  border-radius: 20px;
}

.module.quotes .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  padding: 6rem 2rem;
  text-align: center;
  background-color: var(--c-panel-bg, var(--c-hl));
  color: var(--c-panel-fg, white);
}

.module.quotes blockquote {
  margin: 0 auto;
  max-width: var(--w-text);
  color: white;
}

.module.quotes .portrait {
  margin: 0 auto;
  margin-top: 30px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 9999px;
}

.module.quotes .portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.module.quotes .source {
  margin-top: 10px;
  width: 250px;
  font-size: small;
  line-height: 1.6;
}

.module.quotes .swiper-pagination {
  padding-bottom: 1rem;
}

.module.quotes .swiper-pagination-bullet {
  background: var(--c-panel-fg, white);
}

.module.quotes .swiper-pagination-bullet-active {
  background: var(--c-panel-fg, white);
}
