html {
	--color-panel-bg: var(--color-fg);
	--color-panel-fg: var(--color-bg);
	--color-pagination-bg: var(--color-fg);
	--color-pagination-fg: var(--color-bg);
}

.quotes .wrapper {
	position: relative;
	width: 100%;
	max-width: var(--width-body);
	margin: 0 auto;
	padding: 0 var(--gutter);
}

.quotes .carousel {
	background-color: var(--color-panel-bg);
	color: white;
	height: auto;
	width: 100%;
}

.quotes .swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: auto;
	padding: 6rem 2rem;
	text-align: center;
	background-color: var(--color-panel-bg);
	color: var(--color-panel-fg);
}

.quotes blockquote {
	font-weight: normal;
	font-size: x-large;
	line-height: 1.6;
	margin: 0 auto;
	max-width: var(--width-text);
}

@media (min-width: 735px) {
	.quotes blockquote {
		font-size: xx-large;
	}
}

.quotes .portrait {
	margin: 0 auto;
	margin-top: 30px;
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 9999px;
}

.quotes .portrait img {
	max-width: 100%;
}

.quotes .source {
	margin-top: 10px;
	width: 250px;
	font-size: small;
	line-height: 1.6;
}

.quotes .swiper-pagination {
	padding-bottom: 1rem;
}

.quotes.swiper-pagination-bullet {
	background: var(--color-pagination-bg);
}

.quotes .swiper-pagination-bullet-active {
	background: var(--color-pagination-fg);
}