{% extends 'partials/base.html.twig' %}

{% set selected_media = selected_media|default(page.header.selected_media ? page.media[page.header.selected_media]) %}
{% set selected_media_alt = selected_media_alt|default(page.header.selected_media_alt ?? '') %}

{% block content %}

	<section class="article__header">
		<div class="article__header__media">
			<div class="fill">
				{{ selected_media.html('', selected_media_alt) }}
				<div class="article__media__veil fill" data-reveal="reveal--veil"></div>
			</div>
		</div>
			<h1 class="article__header__title" data-reveal>{{ page.title }}</h1>
	</section>

	<section class="module content" data-auto-reveal>
		{{ page.content|raw }}
	</section>

	{% for module in page.collection({ items: {'@self.modular':''}, 'order': {'by': 'folder', 'dir': 'asc'}}) %}
	{{ module.content|raw }}
	{% endfor %}

{% endblock %}
