{% extends 'partials/base.html.twig' %}

{% set key = 'articles' %}
{% set step = 6 %}
{% set qs = uri.query(key) ?? null %}
{% set qs_start = qs ? qs|split('-')[0] : 0 %}
{% set qs_end = qs ? qs|split('-')[1] : step %}
{% set next_start = qs_end %}
{% set next_end = next_start + step %}
{% set collection_raw = page.collection({ items: {'@self.children':''}, 'order': {'by': 'date', 'dir': 'desc'}}) %}
{% set collection_raw_length = collection_raw|length %}
{% set collection = page.collection({ items: {'@self.children':''}, 'limit': qs_end, 'order': {'by': 'date', 'dir': 'desc'}}) %}
{% set collection_slice = collection|slice(qs_start, qs_end) %}

{% block content %}

    {# HEADING #}
    {% include 'partials/default-heading.html.twig' with {title: title} %}
   
    {# LIST #}
    <section class="blog__list">
        <div class="wrapper">
        {% for item in collection_slice %}
            {% set image = item.header.image ? item.media[item.header.image] : item.media.images|first %}
            {% set image_alt = item.header.image_alt ?? null %}
            {% set title = item.title ?? null %}
            {% set date = item.header.date ? item.header.date|date('Y/m/d') : null %}
            {% set author = item.header.author ?? config.site.author.name %}
            {% set text = date ~ ' — ' ~ author %}
            {% set url = item.url %}
            {% include "partials/card.html.twig" with {
                image: image,
                image_alt: image_alt,
                title: title,
                text: text,
                url: url
            }%}
        {% endfor %}
        {% if next_start + 1 <= collection_raw_length %}
            {% set url = (page.url ~ '?' ~ key ~ '=' ~ next_start ~ '-' ~ next_end) %}
            <button id="load-more" class="button" href="{{ url }}"
            hx-push-url="true"
            hx-get="{{ url }}" 
            hx-swap="outerHTML" 
            hx-select=".blog__list article">{{ 'THEME.PAGINATION.LOAD_MORE'|t }}</button>
        {% endif %}
        </div>
    </section>

    {# MODULES #}
    {% for module in page.collection({ items: {'@self.modular':''}, 'order': {'by':'folder', 'dir':'asc'}}) %}
    {{ module.content|raw }}
    {% endfor %}

{% endblock %}
