{% extends 'partials/base.html.twig' %}

{% set key = 'articles' %}
{% set step = 3 %}
{% set qs = uri.query(key) ?? null %}
{% set qs_start = qs ? qs|split('-')[0] : 0 %}
{% set qs_end = qs ? qs|split('-')[1] : step %}
{% set next_start = qs_end %}
{% set next_end = next_start + step %}
{% set collection_raw = page.collection({ items: {'@self.children':''}, 'order': {'by': 'folder', 'dir': 'asc'}}) %}
{% set collection_raw_length = collection_raw|length %}
{% set collection = page.collection({ items: {'@self.children':''}, 'limit': qs_end, 'order': {'by': 'folder', 'dir': 'asc'}}) %}
{% set collection_slice = collection|slice(qs_start, qs_end) %}

{% block content %}

    {# HEADER #}
    {% set title = page.header.display_title ?? page.title %}
    {% include 'partials/default-heading.html.twig' with {title: title} %}
   
    {# LIST #}
    <section class="module collection__list">
        <div class="wrapper">
            {% for item in collection_slice %}
            {% include ['partials/' ~ item.template ~ '-card.html.twig', 'partials/default-card.html.twig' ] with {'item': item} only %}
            {% endfor %}
        </div>
    </section>
    
    {# PAGINATION #}
    <section class="collection__pagination">
        {% if next_start + 1 <= collection_raw_length %}
        {% set url = (page.url ~ '?' ~ key ~ '=' ~ next_start ~ '-' ~ next_end) %}
        <button class="button" href="{{ url }}">{{ 'THEME.PAGINATION.LOAD_MORE'|t }}</button>
        {% endif %}
    </section>

    {# MODULES #}
    {% for module in page.collection({ items: {'@self.modular':''}, 'order': {'by':'folder', 'dir':'asc'}}) %}
    {{ module.content|raw }}
    {% endfor %}

{% endblock %}
