{% extends 'partials/base.html.twig' %}

{% set pagination_start = 0 %}
{% set pagination_step = 12 %}
{% set pagination_key = 'articles' %}
{% set pagination_values = uri.query(pagination_key)|split('-') %}
{% set pagination_start = pagination_values[0]|default(0) %}
{% set pagination_end = pagination_values[1] ?? pagination_step %}
{% set new_pagination_start = pagination_end %}
{% set new_pagination_end = new_pagination_start + pagination_step %}
{% set raw_collection = page.collection({ items: {'@self.children':''}, 'order': {'by': 'folder', 'dir': 'asc'}}) %}
{% set raw_collection_length = raw_collection|length %}
{% set collection = page.collection({ items: {'@self.children':''}, 'limit': pagination_end, 'order': {'by': 'folder', 'dir': 'asc'}}) %}
{% set computed_collection = collection|slice(pagination_start, pagination_end) %}
{# {% set references = page.header.references %} #}

{% block content %}

    {# HEADER #}
    {% set title = page.header.display_title ?? page.title %}
    {% include 'partials/default-header.html.twig' with {title: title} %}
    
    {# LIST #}
    <section class="module collection__grid">
        <div class="wrapper">
            <div class="grid" data-pagination-list>
                {# {% for item in references %}
                {% set item = page.find(item.page) %}
                {% include ['partials/' ~ item.template ~ '-card.html.twig', 'partials/default-card.html.twig' ] with {'item': item} %}
                {% endfor %} #}
                {% for item in computed_collection %}
                {% include ['partials/' ~ item.template ~ '-card.html.twig', 'partials/default-card.html.twig' ] with {'item': item} only %}
                {% endfor %}
            </div>
        </div>
    </section>
    
    {# PAGINATION #}
    <section class="pagination" data-pagination-ui>
        {% if new_pagination_start + 1 <= raw_collection_length %}
        {% set url = (page.url ~ '?' ~ pagination_key ~ '=' ~ new_pagination_start ~ '-' ~ new_pagination_end) %}
        <button class="button" href="{{ url }}" data-pagination-ui-btn>{{ 'THEME.PAGINATION.LOAD_MORE'|t }}</button>
        {% endif %}
    </section>

    {# MODULES #}
    {% for module in page.collection({ items: {'@self.modular':''}, 'order': {'by':'folder', 'dir':'asc'}}) %}
    {{ module.content|raw }}
    {% endfor %}

{% endblock %}
