{% extends 'partials/base.html.twig' %}
{% set cat = uri.query('category') %}

{# {% set collection = page.evaluate([{'@taxonomy.category': 'Cat1'}]) %} #}
{# {% set collection = page.evaluate([{'@self.children':''}]) %} #}
{# {% set collection = page.evaluate([{'self@.children':'', 'taxonomy@.category':'blog'}]) %} #}
{# {% set collection = page.collection({'items':{'@taxonomy':{'category': 'Cat1'}}}) %} #}

{% set collection = page.children %}
{% do collection.order('title', 'asc') %}
{# {% do collection.filterByTaxonomy('not a real thing') %} #}
{% do paginate(collection, 12) %}

{% block content %}

    {# HEADING #}
    {% include 'partials/default-heading.html.twig' with {title: title} %}
    
    {# FILTERS #}
    {# {% include "partials/filters.html.twig" %} #}

    {# LIST #}
    <section id="list">
        <div class="wrapper">
        {% for item in collection %}
            {% set image = item.header.image ? item.media[item.header.image] %}
            {% set image_alt = item.header.image_alt %}
            {% set title = item.title %}
            {% set text = item.header.price ? item.header.price|number_format(2, ',', ' ') ~ '$' : null %}            
            {% set url = item.url %}
            {% include "partials/card.html.twig" with {
                image: image,
                image_alt: image_alt,
                title: title,
                text: text,
                url: url
            }%}
        {% endfor %}
        {% include "partials/load-more.html.twig" with {pagination: collection.params.pagination} %}
        </div>
    </section>

    {# MODULES #}
    {% for module in page.collection({ items: {'@self.modular':''}, 'order': {'by':'folder', 'dir':'asc'}}) %}
    {{ module.content|raw }}
    {% endfor %}

{% endblock %}
