{% extends 'partials/base.html.twig' %}

{% block content %}

	{% if page.header.display_title %}
	<section class="default__title" data-reveal>
		<h1>{{ page.header.display_title }}</h1>
	</section>
	{% endif %}

	{% if page.content %}
	{% include 'modular/content.html.twig' %}
	{% endif %}
	{% for module in page.collection({ items: {'@self.modular':''}, 'order': {'by':'folder', 'dir':'asc'}}) %}
	{{ module.content|raw }}
	{% endfor %}
	
{% endblock %}
