{% extends 'partials/base.html.twig' %}

{% block header %}
	<section class="dialog__header">
	    <div class="dialog__header-container">
	        {# LOGO #}
	        <a class="dialog__header-logo" href="{{ home_url }}" aria-label="Logo">{% include 'partials/logo.html.twig' %}</a>
	        {# TOGGLE #}
	        <a class="dialog__header-toggle" href="{{ home_url }}" data-history-back>
				<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"></path><path fill="currentColor" d="M14.59 8L12 10.59 9.41 8 8 9.41 10.59 12 8 14.59 9.41 16 12 13.41 14.59 16 16 14.59 13.41 12 16 9.41 14.59 8zM12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"></path></svg>
	        </a>
	    </div>
	</section>
{% endblock %}

{% block content %}
	<section class="dialog__title">
		<h1>{{ page.title }}</h1>
	</section>
	{% if page.content %}
	{% include 'modular/content.html.twig' %}
	{% endif %}
	{% for module in page.collection({ items: {'@self.modular':''}, 'order': {'by':'folder', 'dir':'asc'}}) %}
	{{ module.content|raw }}
	{% endfor %}
{% endblock %}

{% block footer %}{% endblock %}