{% extends 'partials/base.html.twig' %}

{% block content %}
<main class="error content" data-auto-reveal>
<h1 style="margin: 15rem auto 3rem auto; text-align: center;">{{ "THEME.ERROR.TITLE"|t }}</h1>
<p style="text-align: center; margin-bottom: 15rem;">{{ "THEME.ERROR.CONTENT"|t }}</p>
</main>
{% endblock %}
