{% extends 'partials/base.html.twig' %}

{% set header_media = page.header.header_media ? page.media[page.header.header_media] %}
{% set header_media_alt = page.header.header_media_alt ?? '' %}

{% block content %}

	<section class="default__hero">
		<h1>{{ page.title }}</h1>

		<div class="landing__hero__media fill">
			{% if selected_media.type == 'video' %}
			{{ selected_media.controls(0).autoplay(1).muted(1).loop(1).html('', selected_media_alt) }}
			{% else %}
			{{ selected_media.html('', selected_media_alt) }}
			{% endif %}
		</div>


	</section>
	
	{% if page.content %}
	{% include 'modular/content.html.twig' %}
	{% endif %}
	{% for module in page.collection({ items: {'@self.modular':''}, 'order': {'by':'folder', 'dir':'asc'}}) %}
	{{ module.content|raw }}
	{% endfor %}
{% endblock %}
