{% extends 'partials/base.html.twig' %}

{% set header_media = page.header.header_media ? page.media[page.header.header_media] %}
{% set header_media_alt = page.header.header_media_alt ?? '' %}

{% block content %}

	<section class="landing__hero">
		<div class="fill">
			{% if header_media.type == 'video' %}
			{{ header_media.controls(0).autoplay(1).muted(1).loop(1).html('', '', 'landing__hero__media') }}
			{% else %}
			{{ header_media.html('', header_media_alt, 'landing__hero__media') }}
			{% endif %}
		</div>
		<div class="landing__hero__veil fill"></div>
		<div class="landing__hero__content fill text" data-reveal>{{ page.content|raw }}</div>
	</section>
	{% for module in page.collection({ items: {'@self.modular':''}, 'order': {'by':'folder', 'dir':'asc'}}) %}
	{{ module.content|raw }}
	{% endfor %}
{% endblock %}
