{% extends 'partials/base.html.twig' %}

{% block content %}

	<section class="default__title" data-reveal>
		<h1>{{ page.title }}</h1>
	</section>

	{% include 'modular/product-head.html.twig' %}
	
	{% for module in page.collection({ items: {'@self.modular':''}, 'order': {'by':'folder', 'dir':'asc'}}) %}
	{{ module.content|raw }}
	{% endfor %}

{% endblock %}

