/*.collection {}*/

/*.module.collection {}*/

.collection__ctn {
    padding: 0 var(--gutter);
    max-width: var(--width-body);
    margin: 0 auto;
}

.collection__grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px 5px;
	width: 100%;
	max-width: var(--width-body);
	margin: 0 auto;
}
@media (min-width: 835px) {
	.collection__grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 10px 10px;
	}
}
