/*body.default {}*/





/*===========================================
				HEADING 
============================================*/

.default__heading {
    position: relative;
    margin-top: var(--rhythm);
    z-index: 1000;
}

.default__heading .wrapper {
    padding: 0 var(--gutter);
    margin: 0 auto;
    max-width: var(--w-main);
    width: 100%;
    text-align: center;
}

.default__heading .breadcrumbs {
    margin-bottom: var(--gutter);
    opacity: 0.5;
}

/* .default__heading .title {} */





/*===========================================
				    CARD 
============================================*/

/* .default__card {} */

.default__card a {
    display: block;
    text-decoration: none;
}

.default__card__media {
    position: relative;
    padding-top: 133%;
    background-color: var(--c-material);
    overflow: hidden;
}

.default__card__media img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.default__card__content {
    margin-top: 0.5rem;
}

.default__card__content p {
    margin-top: 5px;
}