/*.template-default{}*/

.default-title {
	padding: 0 var(--gutter);
	margin: 0 auto;
  margin-top: calc(var(--rhythm) - (var(--header-heigth)/2));
	text-align: center;
	max-width: var(--width-text);
}

.default-title h1 {
  margin-top: 0;
  font-size: xx-large;
  line-height: 1.1;
}
@media (min-width: 835px) {
  .default-title h1 {
    font-size: 48px;
  }
}