/* body.form {} */

body.form,
body.login,
body.forgot,
body.register {
	--c-bg: #1f1f1f;
	--c-fg: white;
    --c-btn-bg: white;
	--c-btn-fg: #1f1f1f;
}

body.form #footer,
body.login #footer,
body.forgot #footer,
body.register #footer {
    border-top: 1px solid #383838;
}





/* FIXES FOR GRAV USERS FORMS */
#grav-login h1,
#grav-login p {
	display: none;
}

#grav-login h4 {
	color: var(--c-fg);
}

#grav-login .form-actions {
	margin-top: 20px;
}