/*body.form {}*/

/*CONTAINER*/
body.form .form-container {
	width: 100%;
	max-width: var(--width-text);
	margin: var(--rhythm) auto;
	padding: 0 var(--gutter);
}

/*MESSAGES*/
body.form .form-container .notices  {
    text-align: center;
}

/*REQUIRED FLAG*/
.form span.required {
    color: var(--color-hl);
}

/*FIELDS*/
.form-field {
	margin-bottom: 10px;
}

.form-field + .form-field {
	margin-top: 20px;
}

/*LABEL*/
.form-field  .form-label {
	margin-bottom: 10px;
}

/*TEXT INPUT*/
.form-field input[type="text"],
.form-field input[type="email"],
.form-field input[type="number"],
.form-field input[type="date"],
.form-field input[type="tel"],
.form-field input[type="url"],
.form-field textarea,
.form-field select {
	display: block;
	box-sizing: border-box;
	width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: .375rem .75rem;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

/*RADIO & CHECKBOX LIST*/
.form-field [data-grav-field="checkboxes"] .checkboxes,
.form-field [data-grav-field="radio"] .radio {
    margin-top: 10px;
}

/*FIX LAFT MARGIN ON SOME INPUT*/
input[type="checkbox"],
input[type="radio"] {
    margin-left: 0;
}

.form-field input[type="file"] {
    display: none;
}

.form .dropzone {
    display: flex;
    min-height: 0!important;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

/*BUTTONS*/
.form form .buttons button.button {
    margin-top: 20px;
    width: 100%;
    display: block;
}

@media (min-width: 835px) {
    .form form .buttons button.button {
        width: auto;
    }
}
