/*PAGE*/
/*body.product{}*/

.module.product-showcase {
  margin-top: var(--gutter);
}

.product-showcase .wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: var(--width-body);
  margin: 0 auto;
  padding: 0 var(--gutter);
}

.product-showcase .media-ctn {
  width: 100%;
}

@media (min-width: 735px) {
  .product-showcase .media-ctn {
    width: 50%;
  }
}

.product-showcase .pagination {
  padding-bottom: 1rem;
}

.product-showcase .swiper-pagination-bullet {
  background: var(--color-hl);
}

.product-showcase .swiper-pagination-bullet-active {
  background: var(--color-hl);
}

.product-showcase .media-ctn img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-showcase .swiper-slide,
.product-showcase .single-image {
  position: relative;
  padding-top: 133%;
  background-color: var(--color-placeholder);
  border-radius: var(--radius-small);
  overflow: hidden;
}

.product-showcase .swiper-slide img,
.product-showcase .single-image img {
  position: absolute;
  object-fit: cover;
}

@media (min-width: 735px) {
  .product-showcase .sticky-ctn {
    position: sticky;
    top: calc(var(--header-heigth) + var(--gutter));
  }
}

.product-showcase .breadcrumbs {
  margin-top: var(--gutter);
  font-size: small;
  opacity: 0.7;
}

@media (min-width: 835px) {
  .product-showcase .breadcrumbs {
    margin-top: 0;
  }
}

.product-showcase .name {
  margin: 1rem 0;
  font-weight: 700;
  font-size: xx-large;
  line-height: 1.2;
}

.product-showcase .content-ctn {
  width: 100%;
}

@media (min-width: 735px) {
  .product-showcase .content-ctn {
    width: 50%;
    padding-right: 0;
    padding-left: 5%;
  }
}

.product-showcase .description {
  margin-top: 2rem;
}

@media (min-width: 835px) {
  .product-showcase .description {
    margin-top: 0;
  }
}

.product-showcase .description ul {
  margin-top: 1rem;
  list-style-position: inside;
}

.product-showcase .price {
  display: block;
  font-size: x-large;
  font-weight: 700;
  margin-top: 2rem;
}

.product-showcase .snipcart-add-item.button {
  width: 100%;
  margin-top: 2rem;
}

.product-showcase .instruction {
  margin-top: 2rem;
  font-size: small;
  line-height: 1.4;
  opacity: 0.7;
}

.product .divider {
  width: 100%;
  max-width: var(--width-body);
  margin: 0 auto;
  margin-top: var(--rhythm);
}

.product .divider > hr {
  border: 0;
  border-top: 1px solid var(--color-border);
  margin: 0 var(--gutter);
}





/*CARD*/
.product-card {
  transition-duration: 0.2s;
  transition-property: transform;
}

.product-card:hover:active {
  transition-duration: 0s;
  transform: translateY(1px);
}

.product-card .media {
  position: relative;
  padding-top: 133%;
  background-color: var(--color-placeholder);
  border-radius: var(--radius-small);
  overflow: hidden;
}

.product-card .media img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

/*.product-card .info {}*/

.product-card .name {
  margin-top: 5px;
  font-size: small;
}

@media (min-width: 835px) {
  .product-cart .name {
    margin-top: 10px;
    font-size: medium;
  }
}

.product-card .price {
  margin-top: 2px;
  font-size: x-small;
}

@media (min-width: 835px) {
  .product-card .price {
    margin-top: 5px;
    font-size: small;
  }
}
