/*PAGE*/
/*.product{}*/

.product-head {}

.product-head__ctn {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: var(--width-body);
	margin: 0 auto;
	padding: 0 var(--gutter);
}

.product-head__media {
	width: 100%;
}
@media (min-width: 835px) {
	.product-head__media {
		width: 50%;
	}
}

.product-head__media img {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.product-head__sticky-ctn {
	position: sticky;
	top: 2rem;
}

.product-head__name {
	margin-top: 2rem;
	font-weight: 700;
	font-size: x-large;
}
@media (min-width: 835px) {
	.product-head__name {
		margin-top: 0;
	}
}

.product-head__content {
	width: 100%;
}
@media (min-width: 835px) {
	.product-head__content {
		width: 50%;
		padding-right: 0;
		padding-left: 90px;
	}
}

.product-head__description {
	font-size: smaller;
	margin-top: 2rem
}
@media (min-width: 835px) {
	.product-head__description {
		margin-top: 0;
	}
}

.product-head__description> *:nth-child(1) {
	margin-top: 0;
}

.product-head__price {
	font-size: x-large;
    font-weight: 700;
    margin: 2rem 0;
}

button.product-head__buy-btn {
    display: block;
    width: 100%;
    margin-top: 2rem;
    padding: 15px 24px;
}





/*CARD*/
.product-card {
	transition-duration: 0.2s;
	transition-property: transform;
}

.product-card:hover {
	transform: translateY(-2px);
}

.product-card:hover:active {
	transform: translateY(1px);
}

.product-card__media {
	position: relative;
	padding-top: 133%;
}

.product-card__media img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

/*.product-card__info {}*/

.product-card__title {
	margin-top: 5px;
	font-size: small;
}
@media (min-width: 835px) {
	.product-card__title {
		margin-top: 10px;
		font-size: medium;
	}
}

.product-card__price {
	margin-top: 2px;
	font-size: x-small;
}
@media (min-width: 835px) {
	.product-card__price {
		margin-top: 5px;
		font-size: small;
	}
}
